[2020-10-16 15:07] gavanderhoorn commented on #363
With @EricMarcil's answer, I'm going to close this.

Feel free to keep commenting @acbuynak.

[2020-10-16 15:07] #363 closed

[2020-10-16 20:57] acbuynak commented on #363
Thanks for the additional information.

Seeing the Theta, D, A values.. I rechecked my URDF joint origins which were originally based on the MS210 "Instructions" Manual ([motoman part # 165835-1CD-rev5](https://www.motoman.com/en-us/service-training/product-documentation?d=A0B2D511-4B8D-41D8-A6A7-76E671203766/165835-1CD)) and diagram on the [motoman website](https://www.motoman.com/en-us/products/

[2020-10-17 10:11] gavanderhoorn commented on #363
Looks to me like all required dimensions are listed on page 28 of the manual you link.

Could you be more specific about what it is you're actually missing?

[2020-10-17 19:46] acbuynak commented on #363
Yup. I've sketched the location of the missing dimensions onto the mentioned Page 28 Diagram.
![ms210_missingDims](https://user-images.githubusercontent.com/44533530/96352524-d1238380-1091-11eb-8f5e-3f5b52f5eb50.jpg)

[2020-10-18 11:07] gavanderhoorn commented on #363
Ah, now I see your confusion.

You've got the `origin`s of the joints wrong, hence you don't see the match with the D-H parameters.

`joint_s` does not have its origin where you place it here. It's in the X-Y plane which goes through `joint_l`. So in this case, its Z would be at `0.650 m`. That's also where the robot's `base` frame is (and is coincident with the 'start' of its kinematic tree).

I'

[2020-10-19 00:29] acbuynak commented on #363
Gotcha, Thanks.

I had been following the structure of the MH5 and MH50 and had misinterpreted the meaning of the [ROS-I URDF Tutorial's](http://wiki.ros.org/Industrial/Tutorials/Create%20a%20URDF%20for%20an%20Industrial%20Robot) note that the joint shall be `coincident with the joint nearest to the base of the robot.` I had understood this to mean the physical joint location, but without the prio

[2020-10-30 12:17] gavanderhoorn opened #367 "Extend MotoROS to return informative errors from IO read/write services"
Similar to #360, the `io_relay` could check for invalid values being passed with write requests.

For single digital IOs, anything but `0` or `1` is illegal.

For group IO, there is a specific maximum value that could be written.

We could consider checking for illegal values in the `io_relay` and not pass those requests on to MotoROS. This would also allow us to return meaningful error messages t

[2020-10-30 12:20] gavanderhoorn commented on #367
Instead of checking on the ROS side, it would perhaps also be an idea to check on the MotoROS side.

There is some checking right now, but MotoROS does not return a very informative status code. It basically just says "didn't work".

@ted-miller: would it perhaps be possible / desirable to make MotoROS return specific causes for different failure modes?

That would remove the need to extend `io_re

[2020-10-30 12:21] gavanderhoorn commented on #367
@marip8 @steviedale: thoughts?

[2020-10-30 16:29] wlawler45 opened #368 "Inconsistent end effector speed"
Hello I'm having an issue moving the motoman in a consistent manner, the RViz motion view looks fine when I plan with compute cartesian move, and I've tried a number of methods to try and replan and execute the trajectory correctly and it keeps but the real robot consistently has these jerky motions where it slows almost to a stop in the middle of the trajectory, the application we are working on

[2020-10-30 16:35] EricMarcil commented on #368
It sounds as if the packet transmission is slow.  Do you have a direct connection to the controller or are you going through an large network with lots of traffic?  Noise causing interference on the communication?
Another possibility is that you have something else running on the controller that is requiring a lot of CPU.  The MotoRos communication and motion parsing tasks are at a normal priority

[2020-10-30 16:43] wlawler45 commented on #368
It should just be me and the controller on the ethernet switch, but I am running a virtualbox, would that make the difference?

[2020-10-30 16:48] EricMarcil commented on #368
Maybe the virtualbox is causing delay?  You might want to do a Wireshark capture of the communication and where the delay is.  How often is Ros sending motion message to the controller?  How fast is the reply from the controller? Is the controller replying with busy signal?

[2020-10-30 16:48] wlawler45 commented on #368
could I check the busy signal with ros? I'll try that and let you know.

[2020-10-30 16:54] EricMarcil commented on #368
The MotoRos has an internal queue that can accumulate up to 800 ms of trajectory (it usually helps with communication variation).  When this is full and it gets more information, it will send back a busy signal.  The ROS side should automatically be resending the message until the queue cleared up and the next message is accepted. I'm not sure how to expose that on the ROS side.

[2020-10-30 16:55] wlawler45 commented on #368
Another thing is its not consistently pausing, it pauses at some specific points along the curve, there shouldn't be any singularities or anything there either so I don't know why it's doing that.

[2020-10-30 17:24] gavanderhoorn commented on #368
Without seeing a trace and/or the trajectories which exhibit this, I would hazard the guess you're using MoveIt and are using the default IPTP for time parameterisation.

That is known to not always result in the most smooth paths.

I would repeat @EricMarcil's request and suggest you create a Wireshark capture so we can see exactly what sort of traffic gets send to the controller. Next to that, c

[2020-10-30 17:34] gavanderhoorn commented on #362
With #366 merged, this can be closed.

We'll improve the error messages returned in a follow-up PR (part of #361).

[2020-10-30 17:37] gavanderhoorn commented on #361
#366 added `message` and `success` fields to the service responses.

Those could be improved to provide a better indication of the cause of a failure as part of a fix for #360 and #367.

[2020-10-30 17:48] wlawler45 commented on #368
Okay, here is the wireshark capture you asked for, let me know if I did anything incorrectly in capturing this, I'll include the trajectory in a second.
[motoman_motion_wireshark_capture.pcapng.gz](https://github.com/ros-industrial/motoman/files/5466750/motoman_motion_wireshark_capture.pcapng.gz)

[2020-10-30 18:03] wlawler45 commented on #368
Here is a Rosbag with the trajectory in it, anything else I can provide just let me know. Thanks again for all the help.
[2020-10-30-13-01-13.bag.tar.gz](https://github.com/ros-industrial/motoman/files/5466835/2020-10-30-13-01-13.bag.tar.gz)

[2020-10-30 18:08] wlawler45 commented on #368
If it is a moveit time parameterization issue, what would you recommend I use? What planner would give the smoothest time parameterization?

[2020-10-30 18:30] EricMarcil commented on #368
The data transmission looks good.  I can see two trajectory being send.
The transmission time is shorter than the commanded trajectory time.
I can see the initial command being accepted right-away and then once the motion buffer is full reply with busy response.
The motion point is repeatedly sent until space frees up and it is accepted.

I don't have a good tool for visualizing the motion but it

[2020-11-02 17:18] wlawler45 commented on #368
I've tried another few planners in OMPL but I'm still having the same issues @gavanderhoorn do you have any suggestions to help get a better timed trajectory so I have smoother cartesian motions?

[2020-11-03 12:27] gavanderhoorn commented on #368
Without knowing exactly what you are doing, I can only provide suggestions. Perhaps using one of the alternative [time-parameterisation algorithms](https://ros-planning.github.io/moveit_tutorials/doc/time_parameterization/time_parameterization_tutorial.html) helps. The spline based one works OK-ish in most cases. But perhaps TOTG is better.

As I don't know whether you're using `computeCartesianPa

[2020-11-03 14:13] ted-miller commented on #367
I'm fine with adding additional return codes. I'm assuming that you want this in the 'resultCode' field, and not in the header info.
https://github.com/ros-industrial/motoman/blob/4b0a030de3917aa13ab1407f2dcf131d4f0ffd27/motoman_driver/MotoPlus/SimpleMessage.h#L285-L290

[2020-11-03 14:15] gavanderhoorn commented on #367
Yes, exactly. The header should just indicate general failure. The `resultCode` could then encode the specific failure.

[2020-11-03 14:21] gavanderhoorn commented on #367
Would you already have some result codes in mind? We could start with failures reported by MotoPlus' read/write functions.

---

Edit: doesn't look like `mpWriteIO(..)` returns anything but `0` or `-1`.

[2020-11-03 14:50] gavanderhoorn commented on #367
Possible failures:

 1. illegal value for target address (ie: `123` for digital out)
 1. illegal address (out of writable/readable range):
     - should this be split into read and write errors respectively?
     - are the ranges identical?
 1. "motoplus reported `-1`" (despite having checked bullets 1 and 2)

anything else?

@ted-miller @EricMarcil @marip8 @steviedale: feel free to edit this comm

[2020-11-03 14:56] gavanderhoorn commented on #360
@ted-miller: the DX200 *Reference Manual For New Language Environment MotoPlus* (`166580-1CD`) suggests the *interface panel* IOs are also writable:

![image](https://user-images.githubusercontent.com/4550046/98000370-b7ea3900-1dec-11eb-94e1-977ef06d9cc1.png)

I haven't checked for the other controllers, but are they similar?

[2020-11-03 15:16] wlawler45 commented on #368
Okay, I am using ComputeCartesianPath if that helps, I'll look into the other time-parameterisation algorithms there and see if I can get the real robot moving in a more smooth fashion. I'll keep that in mind in the future, thank you for letting me know.

[2020-11-03 19:11] gavanderhoorn commented on #368
Here is the trajectory from the bag, which is sent to the trajectory relay:

<details>

<summary>trajectory</summary>

[code]

</details>

[2020-11-03 19:32] gavanderhoorn commented on #368
And here is a plot of the commanded positions, velocities and accelerations per joint:

![plot](https://user-images.githubusercontent.com/4550046/98031755-407bd000-1e13-11eb-8282-e37675807412.png)

No derivatives, all values straight from the trajectory.

At this point I'm inclined to believe the driver is doing what is asked of it, and the cause of what you observe would be in the trajectory.

No

[2020-11-03 19:35] gavanderhoorn commented on #368
And seeing those accelerations almost bounded by `+- 1 rad/sec^2`: do you have correct/appropriate/reasonable acceleration values configured in your MoveIt configuration?

If you don't (and by default there will be no acceleration limits configured), MoveIt's time-parameterisation algorithms will use `1 rad/sec^2` for all joints.

[2020-11-03 19:44] gavanderhoorn commented on #368
@gavanderhoorn wrote:

As such, I'm going to close this issue.

If it turns out this is something we need to address here (in `motoman_driver` or MotoROS), we can update and re-open.

Feel free to keep commenting on the issue of course.

[2020-11-03 19:44] #368 closed

[2020-11-03 19:58] EricMarcil commented on #368
@gavanderhoorn Thanks for plotting that out and confirming what I was seeing.

@wlawler45 What controller and robot are you using?  Are you using a URDF from the repo or one that you created?

[2020-11-05 18:13] steviedale commented on #360
@gavanderhoorn @ted-miller these address values are all in decimal right (not hex)?

[2020-11-05 18:20] steviedale commented on #360
@gavanderhoorn as far as identifying which controller is being used, one possible solution would be to create a separate `io_relay.launch` file for each type, then have each provide a ROS param that contains the name of the controller. What do you think?

[2020-11-05 21:06] gavanderhoorn commented on #360
Please check the discussion in #367. It may be more efficient to extend MotoROS to return appropriate error codes, and then add generic error handling code to the `io_relay`.

[2020-11-06 21:37] tdl-ua commented on #350
Just tried to apply the patch to my local copy of the motoman repository (freshly fetched and after creating and checking out a branch called `importing_sia5d_moveit_cfg` that is even with `origin/kinetic-devel`) and it failed. Below is what the command `git am --committer-date-is-author-date < ../motoman_sia5d_moveit_config-history.patch` returned:

[code]

I then also tried to apply the patch us

[2020-11-09 17:18] gavanderhoorn commented on #367
@ted-miller: would you see an opportunity to add checking on the MotoROS side? Would you want someone else to contribute a PR to add this?

[2020-11-09 17:21] ted-miller commented on #367
Sorry for the delay. I'll try to get to it this afternoon. If not, then I'll do it first in the morning.

[2020-11-09 17:23] ted-miller commented on #367
Do you want the change in this repo, the new one, or both?

[2020-11-09 17:24] gavanderhoorn commented on #367
This one. I'll migrate the complete history to the other one -- it's a script.

[2020-11-09 17:25] gavanderhoorn commented on #367
@ted-miller @EricMarcil @steviedale @marip8: could you all take a look at https://github.com/ros-industrial/motoman/issues/367#issuecomment-721162583 and see whether there is a failure mode missing? Would be good to cover the expected failure modes with result codes in MotoROS.

[2020-11-09 17:32] gavanderhoorn commented on #367
Seeing as the discussion has shifted from filtering in `io_relay` to extending MotoROS with checks, I've updated the title.

[2020-11-09 17:43] steviedale commented on #367
@gavanderhoorn those failure modes look good to me. The only addition I can think of is having a different error code for addresses that don't exist and addresses that do exist but are not readable/writable. Not sure if this is worth adding another error code for or not, just a thought.

[2020-11-09 17:47] gavanderhoorn commented on #367
Ok. So `10001` would be an illegal address in all cases but `70010` is valid, but just not writable (from https://github.com/ros-industrial/motoman/issues/360#issuecomment-707246441, DX200).

Is that what you're suggesting?

[2020-11-09 18:02] steviedale commented on #367
Exactly. It depends on whether you guys think this is overkill. I can see both an argument for and against.

[2020-11-09 18:05] steviedale commented on #367
Is there an easily accessible lookup table for valid addresses and read/write availability of these? If it is easy to find, then maybe this is in fact overkill, as they can simply lookup the address to see why it's invalid.

[2020-11-09 18:06] gavanderhoorn commented on #367
The documentation is pretty clear imo. See https://github.com/ros-industrial/motoman/issues/360#issuecomment-707246441 for a screenshot of the table from the DX200 manual.

[2020-11-09 18:09] steviedale commented on #367
Gotcha. In that case, I think the `[READ/WRITE]_INVALID_ADDRESS` error codes suffice.

[2020-11-10 16:19] ted-miller commented on #367
PR #369

[2020-11-10 16:21] ted-miller commented on #360
See PR #369

[2020-11-10 17:52] wlawler45 commented on #368
@EricMarcil Hello again, so I'm using the YRC1000 and the GP12, and I should be using a URDF from their repo with just an added simple end effector, question as well, if I'm going to use FTP, with the Robodk post processors I need a remote file location on the motoman to save the programs to do you know what that would be? Let me know. Thanks.

[2020-11-10 17:55] gavanderhoorn commented on #368
@wlawler45: could you please not post off-topic comments here?

This issue tracker is for issues related to ROS, specifically the `motoman` packages.

Please use appropriate support channels for other questions.

[2020-11-10 18:17] EricMarcil commented on #368
@wlawler45 You can reach at my Motoman address:
eric.marcil@motoman.com

[2020-11-16 11:18] leitoxve opened #370 "Xacro mh12 correction"
in
https://github.com/ros-industrial/motoman/blob/kinetic-devel/motoman_mh12_support/urdf/mh12_macro.xacro

inverse the flench translate values in xacro
line 144 with 149
**ORIGINAL**
144-origin xyz="0 0 0" rpy="0 0 0"
149-origin xyz="0.100 0 0" rpy="3.1415926 -1.570796 0"
to
**MODIFICATION**
144-origin xyz=**"0.10 0 0**" rpy="0 0 0"
149-origin xyz=**"0.000 0 0"** rpy="3.1415926 -1.570796 0"

[2020-11-16 16:23] gavanderhoorn commented on #370
It would be good if you could provide a little more context and explanation here.

Do you have a particular reason you want this change applied?

[2020-11-16 16:34] EricMarcil commented on #370
The standard is that Tool0 represent the flange and it should not be edited.
If you are adding a tool to the robot then you should create a new joint with Tool0 as the parent.
Technically, the change that you are proposing shouldn't change the result.
The way it is currently done, matches the way Yaskawa does its modeling in our simulator (MotoSim) except that we call Flange what Ros calls Tool0.

[2020-11-16 16:38] gavanderhoorn commented on #370
I'll try not to confuse everyone by mentioning the `flange` frame (I'll mark my comment as off-topic), but we do have a `flange` frame. It just wouldn't be aligned with any TCP, but with REP-103 standard orientation of frames. This would be for connection of EEF geometry to xacro macros from robot support packages.

See [REP-199](http://gavanderhoorn.github.io/rep/rep-0199.html) for a WIP proposal

[2020-11-17 16:45] gavanderhoorn commented on #338
Has there been any progress on this off-list (ie: something which hasn't been reported here yet)?

[2020-11-17 18:04] EricMarcil commented on #338
Sorry about that.  I have to clean-up the code and finalize testing so that I can submit a PR.  I should be getting access to an HC10 next week and try to finalize things.

[2020-11-20 14:17] gavanderhoorn commented on #370
I'm going to close this, as I believe @EricMarcil's response should clear this up.

@leitoxve: please feel free to keep commenting on the issue.

If it turns out we should actually change or fix something here, we'll re-open.

[2020-11-27 14:46] leitoxve commented on #370
what I mean is that in real life the robot does not have a washer in the last joint  in the middle of nowhere
![Screenshot from 2020-11-27 15-45-33](https://user-images.githubusercontent.com/44784957/100460532-a16f8e80-30c7-11eb-9a31-d22d7133c096.png)

[2020-11-27 15:44] EricMarcil commented on #370
Oops, you are correct that shouldn't be there.
Sorry, for misunderstanding your initial message.
Now that the issue is clear.
You suggestion would fix it but to remain consistent with other models, it's probably the origin of the model that needs to be fixed.  I'll double check and make a PR to correct the model.

[2020-11-30 14:44] EricMarcil commented on #370
Submitted PR #372 to fix this issue.

[2020-12-01 14:51] Gaspard-Bourgeois opened #373 "Document supported series & variants"
Does anyone can add in the Readme.md the Yaskawa commercial names compatible for each package. For instance the MA1440 match the package of "motomam_m12_support". Does a list exists somewhere ?

Thanks a lot for your help.

[2020-12-01 16:46] gavanderhoorn commented on #373
No, we don't have such a list.

The general convention in ROS-Industrial is to create so called *robot support packages*, which would contain all the variants of a specific robot series or model.

For Motoman robots however, robot support packages almost always support only a single robot variant. So `motoman_mh12_support` supports just the MH12 and `motoman_gp12_support` supports just the GP12.

[2020-12-01 16:47] gavanderhoorn commented on #373
Could I ask you to change the title of your issue? Right now it's quite unclear how it relates to the actual question.

[2020-12-01 19:56] EricMarcil commented on #373
Your suggesting is noted.
It is true that in recent year, some models have multiple names for marketing reasons.  For example, the MH12 is the same as the MA1440.  MH12 refers to Material Handling with a payload of 12 kg, whereas MA1440 refers to Material ArcWelding with a reach of 1440 mm but with a 6 kg payload.  But even if it is the same arm, the parameters are different, the MA1440 has higher

[2020-12-04 12:39] gavanderhoorn commented on #370
Thanks for reporting @leitoxve, this was indeed a mistake in the model.

Should be fixed now with the merge of #372.

[2020-12-04 12:39] #370 closed

[2020-12-04 18:11] #367 closed

[2020-12-05 01:28] Doomerdinger opened #374 "Robots should have flange"
Each robot should have flange, and tool0 should be a child of flange not the last robot link.
See [REP-0199](http://gavanderhoorn.github.io/rep/rep-0199.html).

Related: #21

[2020-12-05 03:36] Doomerdinger opened #375 "GP180 support"
There is support for the GP180-120 but not the base GP-180.

[2020-12-06 01:05] acbuynak opened #377 "MH5 Support Update"
I am working on an update to the MH5 support package.
Primarily changing things to follow ros-i conventions, ie [REP-0199](http://gavanderhoorn.github.io/rep/rep-0199.html).

I have access to a [MH5LSII](https://www.motoman.com/en-us/products/robots/industrial/assembly-handling/mh-series/mh5ls-ii) variant.

The current MH5 support package matches the MH5F variant from what I can tell (c72c98c)(it'

[2020-12-07 13:19] gavanderhoorn commented on #361
I've marked "provide better error messages" as completed, as we now have input verification on the MotoROS side and error reporting on the `motoman_driver`.

[2020-12-07 13:23] gavanderhoorn commented on #374
I agree with this, but note: the REP you mention is not an official REP.

So we can decide we want to adhere to it here, but we can't "fault" the current models for not having those frames.

[2020-12-07 13:26] gavanderhoorn commented on #358
With #369 merged, I'm going to close this.

[2020-12-07 13:26] #358 closed

[2020-12-07 14:41] Doomerdinger commented on #374
Yup, I'm already throwing something together for it and since things like FANUC already do it (thanks to you I believe) I figured I'd open something up.

[2020-12-07 15:59] Doomerdinger commented on #314
Before I go and add a resources package and change everything to use it, am I understanding correctly that @gavanderhoorn you don't think this should be an issue with newer `xacro` versions since the definitions should be namespaced?

I'm using the latest as far as I can tell, and while most things namespace properly the material definitions still seem to break.

[2020-12-10 14:31] EricMarcil commented on #377
Hi,

The MH5F (FS100) and MH5SII (DX200) and MH5S(DX100) are the same (physically and parameters)
The MH5LF (FS100) and MH5SLII (DX200) and MH5SL(DX100) are the same (physically and parameters)
For the long model, it has a longer L-axis (different part) and an extension to the U-axis (front of U-axis the arm is the same).

I took a look at the current URDF on github, and I can't the reference to t

[2020-12-17 10:45] gavanderhoorn commented on #360
This is addressed (in a slightly different way) by #371.

[2020-12-17 10:45] #360 closed

[2020-12-17 14:28] EricMarcil commented on #373
I updated my previous comment because even if models are physically the same, there may be variations in parameters, so we have to be careful before saying to models are the same.  We might be able to put them in the same support package but you might need different URDF to account for the specification variations.

[2020-12-23 20:44] Doomerdinger opened #379 "Two robots, two platforms on rails, and a positioner"
I am currently trying to run a setup that involves two robots, each on top of a movable platform, and then a positioner.

The platforms are set up as base axis, and the positioner as an external.

The controller(s) are two YRC1000 wired together.

I can communicate with and control the robots and platforms just fine, but I cannot get any feedback from the positioner.

I've seen a couple things aro

[2020-12-23 23:12] ted-miller commented on #379
Unfortunately, the motion API is only capable of controlling 4 groups. So, your controller configuration will not work.

You'll need to split the two controllers and configure them as:
R1 + B1
R1 + B1 + S1

I'm not sure if this split can be done without a technician. I recommend contacting techsupport@motoman.com or 937-847-3200 for details on how to reconfigure the controllers.

[2020-12-23 23:12] #379 closed

[2020-12-24 08:11] gavanderhoorn commented on #379
And just to clarify, with:

@ted-miller refers to the MotoPlus API that is being used.

`motoman_driver` currently also doesn't support more than 4 groups in a single instance, but that's tightly coupled to the MotoPlus API used.

"ROS" doesn't really care.

[2020-12-24 11:55] Gaspard-Bourgeois commented on #373
Thanks a lot for those precisions and have a great end of year.

[2020-12-24 11:55] #373 closed

[2020-12-24 18:16] kleinma commented on #379
@gavanderhoorn and @ted-miller, thank you so much for the help.

As, @Doomerdinger mentioned, we are interested in coordinated motion between an AR2010 and a GP180, both mounted on mobile platforms, and a rotating positioner, for a total of 15 degrees of freedom, all running to a YRC1000. (Eventually, we'd like to add another positioner as well, making it 16.)

Is it possible to get tightly synchr

[2020-12-26 11:57] gavanderhoorn commented on #379
Just to clarify: MotoPlus is the name of the SDK and runtime environment on the Yaskawa controller. It is not code under our control (our == here in his repository).

[2020-12-27 23:10] kleinma commented on #379
@gavanderhoorn - thank you for the clarification. I see the MotoPlus SDK is what was used to build the driver in this repo.

With that being said, is there any way to achieve coordinated motion between more than four groups using ROS? As I mentioned in my previous question, I don't see a clear path to make that happen using multiple controllers.

[2020-12-28 16:45] EricMarcil commented on #379
Currently, the only option is to split the system in two controllers.  Then have a node for each controller.  ROS doesn't use the controller build in coordinated motion function.  The trajectories are time stamped, so if you start at the same time by sendind the information to both controllers, you should be able to synchronize within one or two interpolation cycle (4 ms).  I'm not sure how fast y

[2021-01-04 12:55] riv-rbush commented on #219
@ted-miller @gavanderhoorn @EricMarcil. We'd like some information of the control lag breakdown, relating to a YRC1000 or YRC1000micro and GP8 or similar:
1. Can the joint update rate achieve 250Hz (4ms). In other words can we send a stream of joint positions to the MotoROS driver every 4ms. Theoretically the YRC1000micro is capable of 2ms but what about in practice through motoROS?
2. Can we poll

[2021-01-05 02:24] acbuynak commented on #377
Thanks for the info! I'm pulling together an updated short "MH5" and a new long "MH5L" support package. I'll get those into a PR soon.

I'm seeing a disagreement for the U-axis motion limits between the above shared CSV files and the [MH5LSII webpage](https://www.motoman.com/en-us/products/robots/industrial/assembly-handling/mh-series/mh5ls-ii). Not sure if this is a discrepancy error or different

[2021-01-05 08:57] gavanderhoorn commented on #377
If those are actually variants, please put them in the same package, so we avoid creating more packages than absolutely necessary.

[2021-01-05 14:14] EricMarcil commented on #377
@acbuynak Use the ones from the CSV which are angle relative to the previous axis.  The values on the spec sheet you are referring to are angle relative to the ground.  So it is actually the compound angle of L and U axis that are written for the U-axis.

[2021-01-06 18:51] EricMarcil commented on #338
@CameronDevine If you have achance please text and review the PR #382.  I actually lost the code changes that I had made and recoded everything.  So please check if it behaves as the previous version that I had made for you.  I've added information about the expected behavior.
I've only modified the MotoRos side, did you have to make any changes to the Ros side related to these modifications?

[2021-01-06 23:23] CameronDevine commented on #338
@EricMarcil thanks for letting me know. I'll try to test this out either this or next week.

[2021-01-07 14:56] tingelst commented on #359
@gavanderhoorn
To start up this conversation again.

I have over the last months developed a pure Python 3 library for controlling MOTOMAN robots which you can find here: https://github.com/tingelst/moto.

The `moto` library interfaces with the current ros industrial driver using the SimpleMessage structures. This library might be a starting point for a new ros2 driver.

Moreover, I have extended

[2021-01-07 22:40] Doomerdinger opened #383 "start position tolerance value"
The tolerance value for the joint trajectory streamer is specified [here](https://github.com/ros-industrial/motoman/blob/a17705d6525d3de7413e924b1f0f3dd407300d30/motoman_driver/src/joint_trajectory_streamer.cpp#L63).

I am hoping to have some insight on why it is this value in particular.  I am running into issues with the states differing, and increasing this value fixes it. I just want to make s

[2021-01-07 23:49] JeremyZoss commented on #383
The MotoROS Position Control interface uses _incremental_ position commands at the lowest level (see [MotionServer.c:1324](https://github.com/ros-industrial/motoman/blob/a17705d6525d3de7413e924b1f0f3dd407300d30/motoman_driver/MotoPlus/MotionServer.c#L1324)).  The incremental commands are generated using only the joint trajectory data (positions, velocities, etc.) - no planning is done to move from

[2021-01-08 18:21] Doomerdinger commented on #383
Thank you so much for the excellent explanation! This clears everything up, and gives me a few places to look if I have any more questions.

[2021-01-08 18:29] #383 closed

[2021-01-18 10:10] gavanderhoorn commented on #359
Hi @tingelst.

Interesting work. I'll take a look at the packages later.

re: `ros2_control` hw iface: how do you deal with the latency in the control signals? Afaiu there is quite some latency in the incremental motion API (#219) and you seem to be using that as well.

[2021-01-18 10:39] tingelst commented on #359
Hi, @gavanderhoorn!

Due to the Christmas holidays and reduced lab work due to Covid-19 restrictions, we have not yet performed experiments regarding latency. This is something that is on the agenda this spring.

[2021-02-03 16:10] madhan001 opened #385 "Are there any weird quirks with this driver compared to the universal robot driver (ur_robot_driver) in terms of operation and stability?"
Hi, Sorry if this isn't the right place for this query. We are looking to purchase a GP-12 for use with ROS in a production environment. We are really familiar with the ur_robot_driver and have found it to be satisfactory for our use but we haven't used ROS with Yasakawa-Motoman robots.

Are there any strange quirks with the motoman driver that doesn't exist in the ur_robot_driver ?

In other word

[2021-02-03 16:45] iom12 opened #386 "Choppy motion of ROS controlled yaskawa GP8 robot"
I'm trying to command the GP8 robot via ROS / motoplus, sending it a sequence of trajectories (teleoperation). Each trajectory is made up of 2 points (The first point is the robot's current joint configuration. The second is the target joint configuration.). I get a non-continuous movement of the robot. I have a doubt that the frequency of sending messages from the controller to the actuators is t

[2021-02-03 17:05] gavanderhoorn commented on #386
I believe this is related to / a follow-up of [Choppy motion of ROS controlled yaskawa robot](https://answers.ros.org/question/370444) on ROS Answers.

`motoman_driver` is not really suited for what you're trying to do. It's possible to use trajectory replacement for these kinds of things, but that's not supported by `motoman_driver` right now. `motoman_driver` is essentially *trajectory based*, i

[2021-02-03 17:11] gavanderhoorn commented on #385
This is almost impossible to answer, unless someone here has extensive experience with both drivers.

I'll try to answer the questions you've included in your OP.

No.

But MotoROS works differently from `ur_robot_driver`, in that it doesn't need to be started/enabled as a separate program or job. It's always active (without violating safety).

yes: the fact that `motoman_driver` is not `ros_contr

[2021-02-03 17:11] gavanderhoorn commented on #385
As this is not an issue with the packages in this repository, I'm going to close it.

Feel free to keep commenting on it of course.

[2021-02-03 17:11] #385 closed

[2021-02-03 17:17] madhan001 commented on #385
Thanks for your insight. I've got answers for the major questions I had

[2021-02-04 11:16] iom12 commented on #386
@gavanderhoorn Thank you for your answer.
This subject is a follow-up  of [Choppy motion of ROS controlled yaskawa robot ](https://answers.ros.org/question/370444/choppy-motion-of-ros-controlled-yaskawa-robot/)on ROS Answers.

I am sending trajectories to my robot. This is done by sending goals to  "/joint_trajectory_action".

I replaced the zero velocities by non-zero velocities corresponding to

[2021-02-04 11:21] gavanderhoorn commented on #386
I may not have been clear enough: trajectory based in this case means: from 0-state to 0-state. So from a stopped state (0 velocity and acceleration) to another stopped state (0 velocity and acceleration).

To avoid me misunderstanding you, perhaps you could show us the following:

 - the code you use to generate and send the trajectories
 - an example trajectory (ie: captured using `rostopic echo

[2021-02-05 17:30] madhan001 commented on #385
Putting this query here as I don't want to create a new issue for this.
@gavanderhoorn Is there a way to perform conveyor tracking through ROS on motoman robots without using FZI's `cartesian_controllers` as `ros_control` isn't supported ? The task is similar to painting a moving object. Am I correct that this isn't possible as `motoman_driver` can take only end to end trajectories but not dynamic

[2021-02-08 18:46] EricMarcil commented on #219
Let me start by saying that the MotoROS driver was designed for flexibility and communication lag, it was not designed for peek performance streaming.

However some people have made a custom version for streaming.  I haven't personally experimented with it but you can find the latest version under the PR #215.  There is also a video showing an application of it:
https://www.youtube.com/watch?v=Kgz

[2021-02-15 19:07] EricMarcil commented on #385
If you are wanting to use the ROS for conveyor tracking, you will need to resolve and synchronize the motion on the ROS side.
The Yaskawa controller does have a build in conveyor tracking function but you will not be able to directly access it throught ROS since the MotoRos driver is bypassing the controller higher level motion planner.  The only way to use the build in conveyor tracking would be

[2021-02-16 17:08] gavanderhoorn commented on #255
Doesn't seem to be an issue any more.

[2021-02-16 17:08] #255 closed

[2021-02-16 19:00] gavanderhoorn commented on #386
@iom12: could you comment to let us know whether this is still a problem for you?

if you'd like to continue diagnosing the issue, I'd repeat my request for the additional information I described in my previous comment.

[2021-02-16 21:02] gavanderhoorn commented on #262
Closing as #387 was merged.

[2021-02-16 21:02] #262 closed

[2021-02-16 21:03] gavanderhoorn commented on #260
Closing as #388 was merged.

[2021-02-16 21:03] #260 closed

[2021-02-17 22:23] Doomerdinger opened #390 "Loading robot calibration values"
Currently there is no way to add kinematic calibration offsets to any of the motoman arms.

This is a functionality that I currently need so I am looking for feedback on my thoughts on how to implement this. I have a few trains of thought.

First is to have the nominal values for xyz rpy coded direcetly in the xacro file and then offsets are applied to those on each joint, pulling from a dictionar

[2021-02-19 17:03] gavanderhoorn opened #393 "Place MoveIt configurations in 'moveit' sub directory and add readme"
Related: https://github.com/ros-industrial/fanuc/issues/305.

The readme could then explain that MoveIt configurations were community contributed and may not work out-of-the-box for the specific configurations users have.

I would also suggest not to release MoveIt configurations -- as the readme would not be visible any more.

[2021-02-19 17:05] gavanderhoorn commented on #393
Alternatively: create a separate `motoman_moveit_configurations` repository and store MoveIt configurations there.

This is not without precedent (see [ros-planning/moveit_robots](https://github.com/ros-planning/moveit_robots) fi), and would allow `git cloning` *just* that repository in a workspace if/when users would like to use (one of) those MoveIt configurations.

The support packages and driv

[2021-02-19 17:06] gavanderhoorn commented on #393
@ted-miller @EricMarcil @marip8 @steviedale: opinions?

[2021-02-22 13:37] gavanderhoorn commented on #390
Thanks for posting the issue.

Calibration of robots is an interesting topic, especially when you want to store the results in a non-robot-OEM-specific way.

I believe there are two separate things to figure out here:

 1. how to store the result of such kinematic calibrations in a nice, efficient and not overly verbose way
 1. whether to store offsets/deltas from a perfect/default kinematic model

[2021-02-22 13:39] gavanderhoorn commented on #390
I'd like to ask some opinions / comments of other users of `xacro` (not necessarily `motoman` users).

@rhaschke: you're an extensive `xacro` user (+ the maintainer): what would you suggest we consider here? Deltas, absolute values, or perhaps something else entirely?

@simonschmeisser @JeroenDM: any comments on what would work best/better with `opw_kinematics`? I guess it doesn't *really* matter,

[2021-02-22 14:01] rhaschke commented on #390
In our setup, we inject calibration data via yaml-loaded dictionaries as absolute values. If you like, you can easily provide a default calibration file as a fallback if nothing else is specified. Absolute values are definitely to prefer for readability. All the required information will be stored in a single locatio - the yaml file - instead of being distributed across multiple files.

[2021-02-22 14:09] simonschmeisser commented on #390
we have not found a satisfying solution besides recommending people to use high quality robots when they need precision. For our use case (bin-picking) numerical IK-solvers just simply don't work. So when customers want to use UR we inform them that precision won't be better than 5mm and use the nominal model. We used a hybrid approach of seeding trac-ik (calibrated) with ur-kinematics (nominal va

[2021-02-22 14:19] gavanderhoorn commented on #390
@rhaschke wrote:

Yes, this was what I was considering as well. The fall back would be the nominal model.

@simonschmeisser wrote:

Could you clarify why numerical solvers "don't work"?

I remember @fmauch presenting about the impressive reduction in difference between the FK performed by `robot_state_publisher` and the UR TP with his calibration data incorporated into the URDF. I believe that was

[2021-02-22 14:29] simonschmeisser commented on #390
In my tests numerical solvers would always end up in the ms range at best while analytical solvers give you a solution in µs (or tell you there is no solution).

[2021-02-22 14:31] gavanderhoorn commented on #390
Ok, so this is about performance? You wrote:

which confused me, as it seems to say that precision/accuracy is a problem with numerical solvers.

[2021-02-22 14:40] simonschmeisser commented on #390
sorry for the confusion, of course if you have the time numerical solvers will give you any precision you need (or fail to converge) and give you a lot more liberty in how you load your calibration.

[2021-02-22 16:13] gavanderhoorn commented on #386
@iom12: I hope you've been able to figure this out. If not, please comment and we can re-open.

You indicated you'd been in touch with Yaskawa France, so perhaps they've been able to help you.

For now, I'll close this.

[2021-02-22 16:13] #386 closed

[2021-02-22 21:30] fmauch commented on #390
Basically, we get the (calibrated) full DH parameters from the robot as per [this definition](https://www.universal-robots.com/articles/ur/application-installation/parameters-for-calculations-of-kinematics-and-dynamics/). From this, we create a structure, where we split each link into two chain segments in order to allow virtually "dragging" in the segments along their calibrated axes. This works

[2021-02-23 23:23] Doomerdinger commented on #390
@gavanderhoorn wrote:

Is this not contrary to your follwing statement/other discussions we've had about this topic? Won't having the values in a `.yaml` file be more difficult for 3rd party parsers since they would in fact have to support loading `.yaml` files?

I personally am all for using an external `.yaml` file, 3rd party parsers being my only apprehension.

[2021-02-24 08:31] gavanderhoorn commented on #390
That sentence was supposed to be the last sentence of the paragraph below it. I've removed it.

To clarify:

 - use `.yaml`: separates static structure from per-robot data, well supported by the official `xacro` parser, not so much by 3rd party ones
 - generate per-robot `.xacro`: easy on 3rd party parsers, but no separation, proliferation of `.xacro` files and updates to structure will not be aut

[2021-02-25 17:40] Doomerdinger commented on #390
With some of the new arms I'm putting together for this repository, I'd be happy to make examples of them to see if that's something we like.
`.yaml` file for nominal values.
The dictionary values are what is passed into the xacro macro itself, not a path to the yaml.
In the default `.xacro` file (not the macro) it will allow for a yaml file path, using that if provided or the default if not, pars

[2021-02-26 17:27] Doomerdinger opened #394 "Smaller collision models"
Is there any community desire for optional smaller (as in number of vertices/faces, not psychical volume) collision meshes?

Some of the use cases I encounter rely heavily on running collision checking a _lot_.
I've seen significant timing improvements by going in and manually tweaking the collision meshes to use fewer vertices and faces.

The drawback being that the collision meshes don't reflect

[2021-03-02 15:28] gavanderhoorn commented on #390
yes, that would be good.

It would be best to discuss them here in the issue before spending a lot of time on them though. Otherwise you may end up having to 'throw away' some of your work.

I would suggest to use full joint names, as that would be the least ambiguous.

Any advantage gained by shortening them or using abbreviations is immediately lost by the possibility introduced for errors or mi

[2021-03-02 19:17] Doomerdinger commented on #390
We already have to use calibration offsets internally, so work is getting thrown out one way or another, not very concerned with that.

Full joint names definitely makes more sense. I was blinded the first time I did it.

I'll throw some stuff together, perhaps just include it in the GP180 addition I have?

[2021-03-02 19:27] gavanderhoorn commented on #390
I'm not sure I understand.

Are you saying you have a good reason to use offsets instead of absolute values? If so, please describe, as it would be good input to the discussion.

It would be best if we could keep things separated.

I'd not like to bottleneck reviews for new support packages by functionality which is still being designed.

[2021-03-04 17:48] Doomerdinger commented on #390
No I'm sorry. I meant we already have to use calibration (in general) for the motoman arms for our own projects, so I already have an implementation (which happens to be offsets for parity with some older functionality of ours), rework will be required no matter what so that's not a large consideration on my end.

[2021-03-26 13:07] pablomalvido opened #398 "SDA10F doesn't move when executing trajectories"
Hello,

I am working with a SDA10F robot with a FS100 controller and I am having problems for moving the real robot through ROS. This is the information about my system:

- OS version: Ubuntu 18.04.5
- ROS distribution: ROS Melodic
- Controller version: FS3.30.00A(US/FI)-00

I have followed the tutorials in http://wiki.ros.org/motoman_driver/Tutorials for installing the ROS server in the controlle

[2021-03-26 13:56] marip8 commented on #398
[ERROR] [1616759340.518215238]: Known controllers and their joints:

This appears to be a MoveIt configuration issue. The `move_group` node does not know about any controllers that are able to execute trajectories for the particular set of joints that you planned for. These controllers are configured in the `controllers.yaml` and `..._moveit_controller_manager.launch.xml` files of the MoveIt confi

[2021-03-26 14:17] pablomalvido commented on #398
Thank you for your response,

Yes, both these files (`controllers.yaml` and `motoman_sda10f_moveit_controller_manager.launch.xml`) are the ones from the motoman_sda10f_moveit_config package from the `kinetic-devel` branch of this repository and I didn't modify them, so they are exactly the same as the ones you attached.

Thank you.

[2021-03-29 10:25] pablomalvido commented on #398
Hello,

The problem was finally solved. For those experiencing a similar problem, the error was related to some missing files in MoveIt, not with the robot config files. After reinstalling MoveIt the robot started working.

[2021-03-29 10:25] #398 closed

[2021-03-29 10:32] gavanderhoorn commented on #398
Thanks for reporting back.

it would be great if you could provide a bit more detail than "some missing files".

*Which* files specifically?

What should future readers of this issue install in order to avoid the problems you encountered?

---

Edit: was this one the missing packages?

How did you build the packages? Did you only clone the git repository into your workspace?

[2021-03-29 10:46] pablomalvido commented on #398
The problem was solved after running:

`sudo apt-get install ros-melodic-moveit`

The packages of this Motoman repository are working fine, the problem was that MoveIt was not correctly installed in the computer I was using.

I followed all the steps in the README of the kinetic-devel of the repository.

Thanks

[2021-03-29 10:53] gavanderhoorn commented on #398
Hm.

The `rosdep install --from-paths src/ --ignore-src --rosdistro melodic` step should've installed all required dependencies.

if that's not the case, there would certainly be "something wrong" with the packages.

[2021-03-29 10:59] pablomalvido commented on #398
I ran that command (`rosdep install --from-paths src/ --ignore-src --rosdistro melodic`) when installing the motoman packages, but the problem was not solved until running `sudo apt-get install ros-melodic-moveit`.

[2021-04-05 21:31] CameronDevine commented on #338
I believe this issue should be closed now because #382 was merged.

[2021-04-05 21:48] CameronDevine opened #399 "Add PFL Status to /robot_status"
It was originally brought up in #382 that it would be useful to know the status of the PFL system in ROS. This would allow systems to detect when the `/robot_enable` service will be able to enable the robot again. This is similar to the usefulness of the `e_stopped` value of the `/robot_status` message.

[2021-04-06 12:21] EricMarcil commented on #338
@CameronDevine Thanks for the help on this.

[2021-04-06 12:21] #338 closed

[2021-04-09 05:50] arsh09 opened #400 "TF and RobotDK frame transformation differences"
Hello,

I am using the GP25 description support package from this repository and I seem to be getting different rotation matrix when looked at the tool0 frame in base frame using TF. Please see the attached file. The frame transformation reported from RoboDK  and the one with the TF has considerable differences between them.

I also tried to create my own URDF from CAD model of GP25 arm. However,

[2021-04-09 13:12] EricMarcil commented on #400
The URDF model is correct.  So are the values in RoboDK.  The Quaternion values displayed are also correct, so that would confirm that the model is correct.  I've tried various positions in RViz and in my MotoSim environment and the quaternion values are matching. Your issue seems to be in the conversion from the rotation matrix or quaternion to RPY (Euler ZYX).  There are various online tools to

[2021-04-12 09:39] arsh09 commented on #400
Hello,

As you can see in the tf_echo, the RPY are different than the ones in RoboDK.

But you are correct,  Quaternions seem to match always. I will use them.

Edit: for anyone who might face this issue, the problem was in the precision of quaternions reported from RoboDK. RoboDK interface was rounding the q1...q4 to 5 decimal places which when converted to Euler (or even if copy pasted as is, in

[2021-04-12 09:39] #400 closed

[2021-04-13 12:44] RoboRiz opened #401 "Running Single Group on Dual-Arm Setup (Point Streaming)"
Hello everyone.

I am running a dual-arm CSDA10F setup with the FS100 controllers and the configurations of #259.
Currently, I am planning to run some jogging applications on that robot using #215. I am already aware, that this is only applicable on the single robot arms, since for a dual-arm setup, this would need to be implemented for `motoman_msgs/DynamicJointTrajectory` message.

Since a singl

[2021-04-23 11:14] RoboRiz commented on #401
No need to only run one arm of a dual-arm setup. I have successfully edited the motoman driver such that a PointStreaming for a dual-arm setup is possible.

[2021-04-23 11:14] #401 closed

[2021-04-23 11:15] gavanderhoorn commented on #401
@RoboRiz: apologies for our lack of response.

For some reason this issue had completely escaped my attention.

interesting.

Would you have those changes available somewhere?

What were the main changes you had to make?

[2021-04-23 14:33] tdl-ua commented on #401
Hi, would be interested in those edits as well. Would they also work on a manipulator-positioner multigroup setup?

[2021-04-24 08:08] RoboRiz commented on #401
I have copied the edits into this rep https://github.com/RoboRiz/PS_Dual.
Please keep in mind, that my "solution" is not the generic one you probably looking for. There are 1,2 parts at least, which should be changed.

The changes:
Everything builds upon the work from #215. The only difference I made, was the additional Callback `JointTrajectoryStreamer::DualArmjointCommandCB(const motoman_msgs::D

[2021-04-24 08:12] RoboRiz commented on #401
As far as i understood the driver, i guess this should work.  It all comes down to create the simpleMessage properly. Please correct me, if I am wrong.

[2021-05-04 23:15] pablomalvido opened #403 "SDA10F Fails when trying to execute movements with the 'arms' and 'sda10f' groups for moving the real robot"
Hello,

I am working with a SDA10F robot with a FS100 controller and I am having problems for moving the ‘arms’ and ‘sda10f’ groups using MoveIt. This is the information about my system:

•	OS version: Ubuntu 18.04.5
•	ROS distribution: ROS Melodic
•	Controller version: FS3.30.00A(US/FI)-00
•	Motoman repository branch: kinetic-devel

I have followed the tutorials in http://wiki.ros.org/motoman_dri

[2021-05-11 13:35] gavanderhoorn commented on #403
Apologies for the delayed response.

I believe #259 works towards fixing this. It's not complete, but it should at least get you past the problem you report.

Could you try that PR and let us know whether it fixes the "goal lost" problem?

[2021-05-12 10:33] yuetin opened #404 "YRC1000 GP7 can not get the joint states"
Hi, we want to use motoman_driver and moveit to control the real robot.
After connected the robot, ROS PC couldn't get the robot feedback and control it when it servo on.

before i enable the robot,
the TP will send the packets.
![185048934_477264493528469_2109267141562431776_n](https://user-images.githubusercontent.com/46992331/117960737-e32b8300-b34f-11eb-822e-bafc5db83811.jpg)

- when I enable

[2021-05-12 10:42] gavanderhoorn commented on #404
Could you try with [v1.9.3](https://github.com/ros-industrial/motoman/raw/1fd459a362210f84253fd9f388b32198cd8165e6/motoman_driver/MotoPlus/output/YRC1000/MotoRosYRC1_/MotoRosYRC1_v193.out)?

Please make sure the `md5sum` of `MotoRosYRC1_v193.out` is `650c2e974b632b355f665cb9c856aab1` after you've downloaded it.

[2021-05-13 01:26] yuetin commented on #404
@gavanderhoorn

It seems same situation in 1.9.3 and 1.9.1

we also try it on gp12
it could work on gp12 but gp7 will happens above that

![185323395_956180858533925_7128789655275856116_n](https://user-images.githubusercontent.com/46992331/118089465-f34c6c80-b3fa-11eb-8061-af1f24ae9b21.jpg)
![185337068_2923595437891362_3587142404103106905_n](https://user-images.githubusercontent.com/46992331/11808

[2021-05-13 06:58] gavanderhoorn commented on #404
Ok, this starts to sound like a problem on the controller.

@EricMarcil @ted-miller: could the controller system software be too old on the GP7+YRC1000 combo shown by @yuetin?

@yuetin: have you contacted your local Yaskawa branch office about this problem?

[2021-05-13 13:41] ted-miller commented on #404
According to the [Requirements wiki page](http://wiki.ros.org/motoman_driver#Requirements), our initial testing was done on YAS1.11.00-00. So, I expect that YAS1.34 should be ok. I can't think of any updates that would require newer system software. (Generally, if such a requirement exists, you would get an alarm 1020[5] on bootup.)

@yuetin My first guess is that there is an IP address conflict.

[2021-05-14 02:35] yuetin commented on #404
@ted-miller
after i send enable to robot
it start at line 7515

[yrc1000.pcapng.gz](https://github.com/ros-industrial/motoman/files/6477078/yrc1000.pcapng.gz)

[2021-05-14 07:16] gavanderhoorn commented on #404
Not really sure what to make of that capture.

Controller seems to respond to the `Motoman Motion Ctrl` request message in the expected way (takes about 2.5 seconds, but it needs to enable the servos, so that can take a while).

But between receiving the `Motoman Motion Ctrl` request and sending the reply, TCP packets start to get lost. I can't tell why.

@yuetin: are you using a Virtual Machine t

[2021-05-14 08:04] yuetin commented on #404
Noetic is base on docker
but we also use Melodic with native ubuntu to test it
and we get the same result
We are sure that there is nothing else occupying the network channel

[2021-05-14 13:45] ted-miller commented on #404
Yes, this is just the brakes disengaging. If you look at the joint feedback later in the capture, the values rebound back to the original position.

--------------
There's definitely something wrong with the network connection. Since yuetin reports that the GP12 works ok, then I assume the problem is in the robot controller.

@yuetin, Some things to try:

- Connect ethernet cable directly from YRC

[2021-05-14 13:53] pablomalvido commented on #403
Thank you very much for the support. After making the modifications in the commits of #259 the simultaneous dual arm movement started working.

I have two additional questions, one is related with the synchronized dual arm movements in general (1) and the other just with the robot communication (2), but maybe you can help me also with them. I can open a new issue with these questions if you prefer

[2021-05-14 15:12] gavanderhoorn commented on #403
tbh, this is more a motion planning issue, instead of an issue with the driver.

You mention `computeCartesianPath(..)`, which would make this a MoveIt question. I'd suggest discussing this with the MoveIt developers.

while there is support for this in MotoROS, the messages used between MotoROS and `motoman_driver` do not allow us to send this data to the ROS side.

See #174 for an old discussion

[2021-05-14 15:15] gavanderhoorn commented on #403
@pablomalvido: to test a number of changes to `motoman_driver`, we're looking for users with SDA type robots willing to spend some time running some tests.

Would that be something you'd be interested in?

The tests are pretty low-level, with which I mean I expect they require very little time: the changes either work or they don't.

In case you'd be willing to help, it'll take me some time to mak

[2021-05-14 15:25] gavanderhoorn commented on #403
As it appears at least the initial problem has been addressed, and it looks like we're tracking the issues with multi-group `motoman_driver` setups in other issues already, I'm going to close the issue.

Feel free to keep commenting on it @pablomalvido.

[2021-05-14 15:25] #403 closed

[2021-05-14 21:49] pablomalvido commented on #403
Thank you again for the support @gavanderhoorn and yes, I would be happy to help to keep developing the repository. So just contact me whenever you need to run the tests.

Have a nice weekend,
Pablo.

[2021-05-17 06:14] yuetin commented on #404
- Connect ethernet cable directly from YRC1000 to the PC. Do not go through any network switch.
- Make sure that there are no extra INFORM jobs running on the teach pendant. INIT_ROS should be the only job.
- Make sure there isn't a SYSTEM JOB running in the background. In TEACH mode, touch [Job] > [Ctrl System Job]. If the [Ctrl System Job] button doesn't exist, then it is OK.

We have tried the

[2021-05-17 09:13] xuhuairuogu opened #406 "about support for SIA30D"
Thanks for providing such a good ROS package for motoman control. However, I do not find motoman_sia30d_support directory. I wanna know if motoman_sia30d can be normally driven by the driver within this package. If yes, are you planning to write support files for motoman_sia30d? if no, what modifications I can make on this package?

[2021-05-17 09:18] gavanderhoorn commented on #406
the driver -- as all drivers in `ros-industrial` -- is largely manipulator agnostic, meaning it should be usable with all robots which are supported by the controllers which this driver supports.

Summarising: yes, you should be able to use it with an SIA30.

I don't believe we have plans specific to the SIA30, but if there is demand we can see whether that could be added.

Creating a support pack

[2021-05-17 13:22] EricMarcil commented on #406
The SIA30 is a modified version of the SIA50 where extension were added between the links to increase reach (which reduced the payload from 50 kg to 30 kg).
We did not have plan to support this robot since it is already several generation old (and no one has asked for it), but I can assist you if you need it.
You can probably take a copy of GP50D model and rename it.  Then adjust the values in the

[2021-05-20 14:08] Doomerdinger opened #407 "B and T joint - offset or no offset"
I notice that in some of the robot models (such as the GP180_120) the T joint is offset from the B joint (as it seems to be specified in the robot spec) but in other models (such as the ma2010) the T link transform and the B link transform are coincident.

Should one of these be preferred when making models or is it an arbitrary choice?

[2021-05-23 10:50] tataetae opened #408 "Is it safe to use GP 180 support for MH 180?"
We have a MH180 robot, but there is only support for the GP180 for ros-industrial at the moment. Since the GP 180 has exact same joint kinematic (not torque, speed, etc) spec. Would it be safe to use the GP 180 support for MH 180? Or would it be easier to create a PR for MH180 support based upon the GP 180 model? Thanks!

[2021-05-23 11:53] gavanderhoorn commented on #408
The issue is not really the kinematics -- which, as you mention, are pretty much the same between the models: support packages contain meshes, and those meshes define the *shape* of the robot. That shape is used by tools like MoveIt and Tesseract to perform collision avoidant motion planning.

If the shape is incorrect, you run the risk of motion planning returning paths which could result in coll

[2021-05-23 11:54] gavanderhoorn commented on #404
@yuetin: could you update us as to the status of your support request?

[2021-05-23 11:55] gavanderhoorn commented on #406
@xuhuairuogu: could you indicate whether you're still interested in adding support for the SIA30?

[2021-05-23 12:00] gavanderhoorn commented on #407
It's not really arbitrary, but there is some history.

Most (all?) robot support packages in ROS-Industrial (ie: those for other OEMs) have the last link offset from the previous-to-last. That approach was also used here for many of the models.

Lately, @EricMarcil commented that it may actually be more conform the way the Yaskawa controller models things to do it the other way around.

This would

[2021-05-24 00:19] xuhuairuogu commented on #406
yes. Since I am not very good at handling 3D models, it would be a great help for me if you could add support for the SIA30.

[2021-05-24 08:41] gavanderhoorn commented on #406
@EricMarcil wrote:

@EricMarcil: could you request the meshes please?

[2021-05-24 09:25] yuetin commented on #404
@gavanderhoorn
The quotation given by the local Yaskawa is too high for us to accept
Maybe we will use other currently available robotic arms
Maybe I will try gp7 again when I have time in the future

[2021-05-24 14:11] Doomerdinger commented on #407
Internally we actually use the offset (I believe we just used a robot description on here back in the day and just ran with that). It does not make a huge difference to me one way or the other so long as it is consistent.

If we generally have the offset, I will keep it that way in my models so it is consistent, then if/when we decide to remove that offset it can be done all at once. Any qualms wi

[2021-05-24 14:12] EricMarcil commented on #406
Yes, I've put in a request for the model.  I'll try to put the model together once I have the mesh.

[2021-05-24 19:30] ted-miller commented on #404
@yuetin
One other thing to check is to make sure there are not any other MotoPlus applications installed on this controller. Perhaps another app is interfering with MotoROS.

- Turn on the robot controller while holding the {Main Menu} key on the keypad to enter Maintenance Mode. You may release the key when you see the logo appear on the screen.
- Touch [MotoPlus APL] > [File List] and verify tha

[2021-05-25 21:56] EricMarcil commented on #408
The MH180 model is available under the motoman experimental (not sure why it is there... maybe it wasn't reviewed?).
https://github.com/ros-industrial/motoman_experimental
The package is called motoman_mh_support.

[2021-05-25 22:18] EricMarcil commented on #408
Actually, the package is for the MH180-120 but the meshes for the MH180 are there.
We just need to create the urdf file to go with it.

To answer the original question, the GP180 also contains only the GP180-120 variant of the model.  So you can't use that for MH180.  There are actually a few variants of that model.  Can you confirm you're exact robot model.  There should be a tag on the back of t

[2021-05-25 22:44] EricMarcil commented on #407
On the model I made, I ususally put the offset <joint name="${prefix}joint_6_t-tool0" type="fixed"> like the ma2010.
It's mainly because that's the way it is the MotoSim (Motoman robot simulator) and I usually use those models as reference to make the URDF.
But I don't really see a problem in doing it the other way.  It might be better to review the models to make it consistent with what is most c

[2021-05-25 23:05] EricMarcil commented on #408
There is Doomerdigger that currently has a PR #395 to add the real GP180 to the existing GP180-Support.  You can probably use that model.  The only difference between the MH180 and GP180 is that the "Effort" values (Acc/Dec Max Torque) are little higher for the GP180 but I don't think that is generally used.

[2021-05-26 01:29] yuetin commented on #404
@ted-miller

[CMOS.zip](https://github.com/ros-industrial/motoman/files/6543265/CMOS.zip)

Here is the CMOS.BIN
We sure there is only MotoROS application is loaded
I also get yrcVerUp.exe and Version.txt
What's these two files features?

[2021-05-26 13:18] ted-miller commented on #404
@yuetin, Please try posting the CMOS file again. The CMOS.zip above only contains an empty folder. There is no .bin file.

The yrcVerUp.exe and Version.txt are not required. These are used to restore the controller system software.

[2021-05-27 00:49] yuetin commented on #404
@ted-miller

[CMOS.zip](https://github.com/ros-industrial/motoman/files/6550373/CMOS.zip)

If i could get newer yrcVerUp could it update the controller version?

[2021-05-27 10:56] tataetae opened #409 "Good idea to use ros1bridge with Moveit2 and ROS2?"
To my understanding, this repository is for ROS 1 . So if we are looking to use ROS 2 (as it's probably more future proof as we are in early stage of our project), would it be a good idea to use this repository in conjunction with ROS1 bridge? Our task is mainly pick and place and palletizing/depalletizing (with probably some trimming/sanding/soft object manipulation in the future). Would be glad

[2021-05-27 14:27] ted-miller opened #410 "Error 5011 after EStop (ROS_RESULT_NOT_READY_PFL_ACTIVE)"
@EricMarcil: Can you look at this issue? I don't understand all the signals you're monitoring in Ros_Controller_IsPflActive.

Steps to reproduce:
- Start a motion trajectory
- EStop during motion
- Release the EStop
- Send Start-Trajectory-Mode
- Check Motion Ready returns 5011

The only way to clear the 5011 is to explicitly send a Stop-Trajectory-Mode message and then try again.
Note that this w

[2021-05-27 14:32] ted-miller commented on #404
@yuetin, I attempted to reproduce the issue using your CMOS backup and controller software YAS1.34.00-00. I could not reproduce it. So, this version of controller software is OK. You do not need to update the controller version.

I suspect that there may be a hardware fault. Try swapping the ACP01 board from the GP12 into the GP7. (Make sure to also swap the SD card in slot CN104.) If that works,

[2021-05-27 18:26] EricMarcil commented on #410
@ted-miller: Do you have anything on your system interacting with outputs 15120, 15124 or 15125 on that system?  Those are outputs used by the Avoidance function that affect that logic.
We should probably figure out a way to identify if the robot is a HC robot or not, and put an overall condition around all the PFL related code.  I'll try to look into it tomorrow or early next week.

[2021-05-27 18:40] ted-miller commented on #410
Not that I'm aware of. I can double check later.

In UWI, I look at the PFL function parameter. I could bake that into the parameter extraction library.

[2021-05-27 21:09] EricMarcil commented on #406
I've create PR #411 to add the SIA30D model.
@xuhuairuogu : Please review the model and let me know if there are any problems.

[2021-06-01 15:15] gavanderhoorn commented on #409
It's been a while since I last tried this, but in principle it's possible.

Whether it would be a good idea is a different question.

The driver's default interface is *trajectory* based. So clients send trajectory *goals* and then wait for completion of trajectory execution. That's really low volume traffic, which the bridge should be able to handle.

You would need something like https://github.

[2021-06-01 15:23] gavanderhoorn commented on #409
Note btw:

the first two use-cases are rather different from the latter ones.

still possible with a trajectory-based interface, but if "trimming/sanding/soft object manipulation" requires closed-loop control, it's going to be difficult.

Perhaps something like [tingelst/motoman_hardware](https://github.com/tingelst/motoman_hardware) would work better.

But note that it's not compatible with `moto

[2021-06-02 15:49] EricMarcil commented on #410
I've confirmed the issue.  When the PFL activates, the mpExRcsIncrementMove returns E_EXRCS_IMOV_UNREADY and I had put a flag to mark that state because I had found a mode where other signals couldn't be relied on.  It logs:
    mpExRcsIncrementMove returned UNREADY: %d (Could be PFL Active)
But the E-Stop causes the same state (and maybe the hold, I'll check).
I'll add a check for E-Stop and Hold

[2021-06-04 13:04] EricMarcil commented on #410
The should be corrected by PR #412

[2021-06-04 13:07] EricMarcil commented on #408
@tataetae Where you able to get your model to work?  Or are you still looking for help on this?

[2021-06-11 12:43] gavanderhoorn commented on #410
#412 should fix this.

[2021-06-11 12:43] #410 closed

[2021-07-02 02:11] smurray47 commented on #219
@EricMarcil in the graph above "GP8 Motion Latency", is the x-axis units time in milliseconds, or does it represent number of commanded traj points? If it is time, it seems to indicate the robot begins to respond to your commands within 20-30 ms.

I've been unable to get our GP12 to begin responding to motion commands in less than 120-150 ms, and have seen even worse minimum response time on a GP1

[2021-07-05 13:14] EricMarcil commented on #219
@smurray47 in the graph above the units are in ms.
1. No, we do not recommend the acceleration as in the graph above. It was purely for testing purpose and doing a step at anything faster than that was resulting in a alarms on the controller.  So don't do that in normal operation or at all.
2. The interpolation loop is looking for data at every interpolation period (usualy 4 ms), whether that data

[2021-07-05 18:52] smurray47 commented on #219
@EricMarcil thanks for the quick response.

I should clarify when I say "we're not using the ring buffer", I don't mean that we've modified the Motoplus code to remove it, I just mean we're not intentionally "pre-filling" it with any amount of the trajectory, and are instead just streaming each point just in time. So the data is presumably still coming off the ring buffer, it just doesn't have muc

[2021-07-20 09:59] kumar10725 opened #416 "Inertial Tags for GP12 and MH12"
Inertial and mass tags are missing from the all the urdf models. Without these it is not possible to run the dynamic simulations for the robots, such as estimation of required torque to move an object. Is there any way to obtain those tags? or support will be missing for these tags?

[2021-07-20 12:36] EricMarcil commented on #416
At this time, Yaskawa doesn't want to publicly publish those values.  To obtain them, you'll need to sign a Non-Discloser Agreement with your local Yaskawa representative.
You can contact me for the America or if you have difficulty figuring out your local representative at:
eric.marcil@motoman.com

[2021-07-21 07:26] #416 closed

[2021-07-30 20:38] asabp opened #418 "rosservice call robot_enable not found"
After following all installation procedures, we are unable to call the /robot_enable

It does not show up in our rosservice list as well.

Any advice?

[2021-08-11 14:56] #418 closed

[2021-08-11 15:11] gavanderhoorn commented on #418
Apologies for the delayed response. Most (all?) of us were OoO.

Could you tell us what the cause was in the end?

[2021-08-11 15:11] gavanderhoorn commented on #409
Closing due to inactivity.

[2021-08-11 15:11] #409 closed

[2021-08-11 15:12] gavanderhoorn commented on #404
I'm going to close this due to inactivity.

Were you able to solve this @yuetin ?

[2021-08-11 15:12] #404 closed

[2021-08-12 03:06] etran commented on #219
Hi @EricMarcil. I helped @smurray47 gather some data with wireshark to confirm the high latency that he was seeing in his comment above. I've attached a trajectory plot for one of the joints that we captured with wireshark. The plot shows joint commands and feedback plotted against the timestamps from a wireshark capture. This data shows about 120-150ms of delay which matches what @smurray47 showe

[2021-08-18 10:13] rr-robert opened #419 "ROS API support for ROS_MSG_MOTO_SELECT_TOOL"
## Description
When tool changing in ROS, it is also important to change the set tool on the controller (according to Yaskawa Motoman YRC1000micro manual and pendant display messages **not doing this can cause premature failure of the robot**), however it is unclear whether `ROS_MSG_MOTO_SELECT_TOOL` has been exposed as a service or action server in the ROS API side. There doesn't seem to be an [e

[2021-08-18 15:01] EricMarcil commented on #419
@robertjbush
The SelectTool has been implemented in the MotoRos driver running on the controller.  It was added with the support of HC collaborative robot as we anticipated that it would eventually be needed.  Collaborative robot need more accurate tool definition to operate properly.  But we haven't implemented the ROS API side, since those changes are usually done by people in the ROS community.

[2021-08-19 11:21] riv-rbush commented on #419
Hey Eric, I spoke to the team and we concluded:

- We're up for it, but not right now because;
- Our software engineers don't have any spare capacity for the next 6 months and;
- Our desire to implement this relates to extending the life of the robot. We are machine builders and need our machines to last 6 years, however we are still a few months away from MVP. But;
- We are recruiting so may be a

[2021-08-20 10:20] rr-tom-noble opened #420 "Point streaming queue has reached max allowed elements"
Hi,

I'm currently attempting to use the point streamer through the joint command topic to publish commands to the driver, however, I am getting the following error messages:

[code]

The second error only ever appears after the first, so I think the max queue error is the root of the problem. I'm publishing commands at a rate of 100 Hz, so I don't think I should be pushing the driver to any kind

[2021-08-20 10:56] gavanderhoorn commented on #420
I would suggest to configure your `ROSCONSOLE_FORMAT` env var to include file and line nr information. That would make it a lot easier to find where this is being printed.

See [Console Output Formatting](http://wiki.ros.org/rosconsole#Console_Output_Formatting) on the ROS wiki.

Some expectation management: the code you're using was never merged into the mainline driver and has therefore not seen

[2021-08-23 16:54] riv-tnoble commented on #420
Thanks @gavanderhoorn. Do you know if there's equivalent point streaming functionality in the mainline driver?

@tdl-ua I believe you wrote this point streaming code? Any ideas on whether this issue was present in the branch originally?

@ted-miller @EricMarcil Do you know of any significant changes to the motoman driver which may not play nicely with this point streaming code?

[2021-08-23 16:59] gavanderhoorn commented on #420
no, there isn't.

no, that was @boneil (#37). @tdl-ua updated it in #215.

---

Edit: with an updated `ROSCONSOLE_FORMAT`: where is that error message printed?

---

Edit 2: seems to be here: https://github.com/ros-industrial/motoman/pull/215/files#diff-91823845753e4d8172e7046fdee7dda955aab677ff8965435d4820933a0f960eR269.

[2021-08-23 17:07] tdl-ua commented on #420
@aa-tom, @gavanderhoorn is correct that I only updated the point streaming interface from two other previous commits that did the heavy lifting.

But I'm fairly certain (it's been over 3 years) that you have to send the trajectory points at 40Hz exactly because that is the rate at which they are processed and executed by the controller. I vaguely remember having a similar issue when using the wron

[2021-08-23 17:14] ted-miller commented on #420
I did a brief comparison of the MotoPlus code. Here are the top things that jumped out to me:

1. 4 hour trajectory limit. After 4 hours of continuous streaming, you will need to stop and restart the trajectory stream. (Due to precision of timestamp data type.)
2. This should not be used with an HC (collaborative) style robot.
3. There have been significant improvements to the 'in-motion' flag, wh

[2021-08-24 08:54] riv-tnoble commented on #420
Yeah, that's the place

Thanks for the advice. I'll try setting the publishing rate to 40Hz and see if that fixes the issue, although I'd expect that the queue would fill up almost immediately if that were the case? What we're seeing is that the point streamer works fine at a rate of 150Hz for a few minutes before suddenly hitting the issue.

I've also added some extra info statements including qu

[2021-08-27 18:30] ted-miller opened #421 "MotoROS - Bypass trajectory initialization"
I discovered today that it is possible to bypass the trajectory initialization routine (Ros_MotionServer_InitTrajPointFull) by sending a non-zero sequence identifier in the first trajectory command.

This could cause unexpected behavior when motion starts. It also bypasses the safety check that ensures the first point of the trajectory is the current position.

[2021-08-29 11:48] riv-dalatorre commented on #420
To add to what tom said about the publishing rate:
We have changed the controller status update period to 4ms (from 25, or 40Hz) to allow us to go faster.

We then tested the point streamer at 200Hz (to match 4ms) but reached max queue elements within a minute.
At 150 Hz it took several minutes but eventually filled the queue, so we lowered it all the way to 100 and are still having the problem at

[2021-08-29 12:43] gavanderhoorn commented on #420
To help in diagnosing this, please make a wireshark capture of the traffic between the controller and `motoman_driver`, then share that here.

Since the streaming extension is using regular simple messages, we can try to see whether something is not working correctly on that level.

[2021-09-02 10:35] gavanderhoorn commented on #420
@aa-tom @DavidAlatorreAA: any luck with the wireshark trace?

[2021-09-02 12:31] riv-rbush commented on #420
@gavanderhoorn Normally we would have sent this Wireshark capture immediately, but a few unrelated issues cropped up, so apologies for the delay. Attached is the capture and some notes are:

1. This was ran on our highest performance PC, overclocked but with real-time scheduling off.
2. We set the rate to 200 Hz.
3. The queue size error occurred at UTC 11:00:17.973
4. In wireshark select `View > T

[2021-09-02 12:34] gavanderhoorn commented on #420
Thanks for the capture.

It seems to start somewhere in the middle of an ongoing session though.

Could you capture from the beginning (ie: include drives enablement, etc)?

a packet nr reference is easier to find in a capture :)

[2021-09-02 12:44] riv-rbush commented on #420
Here's the capture from the beginning. Packet nr 791435; true that is a lot easier than the UTC goose chase.
[motoman_pointstreamer_200hz_init.zip](https://github.com/ros-industrial/motoman/files/7098942/motoman_pointstreamer_200hz_init.zip)
_Note only the first 250,000 packets are included as the full file was too big. I can send all in separate files if needed._

[2021-09-02 12:45] gavanderhoorn commented on #420
Even from this capture it's clear the ROS side is stopping the motion, not MotoROS.

Specifically, [this line](https://github.com/ros-industrial/motoman/pull/215/files#diff-91823845753e4d8172e7046fdee7dda955aab677ff8965435d4820933a0f960eR270) triggers `motoman_driver` to send a `Stop Motion` command:

[code]
which the controller then acknowledges.

I'd suggest to add some debug messages which show

[2021-09-02 13:00] gavanderhoorn commented on #420
That's not entirely true: your capture shows some missing TCP segments. I'm not sure this is not a red herring, but fi packet 7390 and 7391 (in your full capture) imply something went wrong during transmission of a packet. That would indicate TCP packet loss.

It happens a few more times.

There are `Dup ACK`s which follow those missing segments, so in the end the bytes *probably* were received by

[2021-09-02 13:06] gavanderhoorn commented on #420
@ted-miller: I just noticed that MotoROS does not seem to copy over the `Sequence` field from an incoming `Joint Trajectory Point Full` to the subsequent `Motoman Motion Reply` packet.

It's set to `-1` (at least in these captures):

[code]

If the sequence number would be copied into the outgoing ack, we could track packet transmission and acknowledgement more easily.

[2021-09-03 08:39] riv-rbush commented on #420
@gavanderhoorn We are trying to print `INFO` statements around the `ptstreaming_queue_` pop, as implemented [here](https://github.com/additiveautomations/motoman/commit/870627b559217593fbba64fa1f629be94dca8f9e). However, these statements are not appearing on the console. Do we need to `set` a particular `logger` to a different level than default?

I ran a few tests at 120 Hz (stable) and 200 Hz (u

[2021-09-03 09:27] gavanderhoorn commented on #420
I would expect you'd have to configure your `.launch` file to redirect output to `screen`.

Or just add `--screen` to your `roslaunch` invocation.

I would also suggest to use named loggers, instead of the anonymous versions. Would save you a few all-capital sentences, as you could just filter for that specific logger.

I'm not sure which *controller* you are referring to here. I'm not aware of an

[2021-09-03 09:50] riv-rbush commented on #420
Typo I meant 4 ms and 10 ms. And I'm talking about the Yaskawa Motoman YRC1000micro controller. We have the MotoPlus SDK and modified the default `CONTROLLER_STATUS_UPDATE_PERIOD` from 10 ms to 4 ms.

Thanks for the other `.launch` `screen` tip, will test this morning.

[2021-09-03 10:34] gavanderhoorn commented on #420
That would be the *period* then.

[2021-09-03 11:04] riv-rbush commented on #420
Still having some problems outputting those extra `INFO` statements. Modified the launch file as per below, but only get two statements on the rosconsole:
[code]
[code]

[2021-09-03 11:08] gavanderhoorn commented on #420
I can only guess you're either:

 - not editing the file you believe you're editing
 - you're not rebuilding the driver (correctly) after making those changes

[2021-09-15 12:27] David-Mason-1992 opened #425 "Stopping robot during planned moves fails occasionally"
I have been working on a problem where the robot needs to stop and then plan a different move based on the status of a sensor.

Expected sequence:

- robot starts at point A
- robot moves to point B (planned path, then executed)
- Sensor triggers
- Robot stop issued (before getting to B)
- robot moves to point A (planned path, then executed)
- sensor trigger
- robot stop issued (before getting to

[2021-09-15 15:35] gavanderhoorn commented on #425
Could you locally merge #389 and see whether that prevents the error?

[2021-09-16 08:11] riv-dmason commented on #425
We will give it a go today

[2021-09-16 09:27] gavanderhoorn commented on #420
@robertjbush @DavidAlatorreAA: what's the status here? Have you been able to make any progress?

[2021-09-16 09:54] riv-rbush commented on #420
@gavanderhoorn You beat me to it! I was just in the process of responding today.

We did some refactoring of our code base and we've been running the ROS master on our fastest PC at 150 Hz consistently without problems.  At 200 Hz, although we do sometimes get the *max queue error*, the robot is able to continue moving. Setting real-time flags to the `motion_streaming_interface` does help.

I was

[2021-09-16 10:20] gavanderhoorn commented on #420
I'm a bit confused: the `roscore` is not involved in node communication at all.

You mean starting the process with `SCHED_FIFO` or something similar?

[2021-09-16 10:21] riv-rbush commented on #420
We are also confused as to why this made a difference; but it did (note the `motion_streaming_interface` node runs on the same PC as the master in our configuration).

Correct.

[2021-09-16 10:23] gavanderhoorn commented on #420
For now I'll assume that's correlation and not causation then.

Unless you're re-creating your publishers every loop or something similar. Then I could see this having an influence.

[2021-09-16 13:17] riv-dmason commented on #425
@gavanderhoorn we merged that PR branch into our local version and tested it this afternoon and were able to replicate the same issue. It appeared within 10 of the cycles described above.

Can I ask if we are best continuing with that PR merged in anyway/wondering why it has not been merged yet?

[2021-09-16 14:17] EricMarcil commented on #425
@David-Mason-1992 When this occurs and you get the error, does the motion still stops?  If it continues, do it reach its fully reach its target position?
Basically on the MotoRos driver, there is a stop flag that is raise to signal different motion working thread to stop.  It then waits for the confirmation that those threads stop with a 20 ms timeout.  Then, the Queue of buffered points is cleare

[2021-09-16 14:28] riv-dmason commented on #425
Hi @EricMarcil.

When we get this error the robot still stops as expected - no visible difference from when we do not get console errors.

We will have a look. Should we do that test on the branch where we merged in #389 or our original one?

[2021-09-16 14:35] gavanderhoorn commented on #425
I have a suspicion there might (also) be a mismatch between the values reported by MotoROS and the values (in the enum) `motoman_driver` uses to detect success or failure.

I remember a similar case earlier this year.

Haven't had time to check this specific occurrence though.

Well, if you're using `motoman_driver` in a normal way, then you wouldn't really run into issues without it I believe.

A

[2021-09-16 14:42] EricMarcil commented on #425
@David-Mason-1992 If the issue is in the MotoRos driver and you are seeing it with either branch, then I don't think it matters on which on you test.

[2021-09-16 15:20] riv-dmason commented on #425
Ok thank you both we will take a look :)

[2021-09-16 15:31] EricMarcil commented on #425
@David-Mason-1992 Looking at the WireShark you sent, it looks like the problem is occuring when the internal motion queue is full.  You can see that you start receiving some busy signal on new trajectory points (which is normal, ROS will resend the request and it will eventually get accepted when the queue empties out).
I can see that the thread we are trying to stop is then in a subloop to add po

[2021-09-16 15:55] EricMarcil commented on #425
@David-Mason-1992 What is your controller type? DX200, YRC1000 or YRC1000micro?

[2021-09-16 16:23] EricMarcil commented on #425
@David-Mason-1992 Here's a zipped output folder with new version of the MotoRos driver.  Select the one from the folder that matches your controller.  (Make sure to delete the current version from your controller.)
(zipped file was removed. Please use files from PR #426)

Note: I just made the change, I'm not currently setup to test it.  So I haven't created a PR for it yet.  Let me know if it fix

[2021-09-16 16:25] gavanderhoorn commented on #425
@EricMarcil: might actually be nice to push your changes and open the PR.

Then we can discuss the change -- and @David-Mason-1992 can report whether it fixes his issue -- there.

[2021-09-16 17:43] EricMarcil commented on #425
PR #426
I only included the code change for now.  I'll update the version and MotoRos binary once we have confirmation that the issue is fixed.

[2021-09-17 15:12] riv-rbush commented on #425
I have been running the same code as @David-Mason-1992 and haven't been able to replicate the issue. PR #426 has fixed the issue.

[2021-09-28 21:38] adhitir opened #428 "unable to set the robot_description parameter"
Robot: HC10DT
ROS Version: Ubuntu 18:04 with Melodic through Windows WSL

I've been following the tutorials here (http://wiki.ros.org/motoman_driver/Tutorials/Usage) to get a HC10DT robot working with MoveIt! So far, I have had little success.
The biggest issue seems to be with the robot_description parameter.
The tutorial says to use
[code]

which cannot be used directly as a xacro file is provid

[2021-09-29 07:08] gavanderhoorn commented on #428
Have you seen #415?

[2021-09-30 17:57] #425 closed

[2021-10-06 18:32] adhitir commented on #428
Yes, I have now. Not sure how it is relevant. Could it be a little more specific.

[2021-10-06 18:51] gavanderhoorn commented on #428
It is relevant as that PR contributes the robot support package for the HC10DT-B10. This includes the `.launch` files needed to start the driver.

The problem you report seems to be caused by the fact you're not loading the required parameters, which would likely be fixed if you'd use the files contributed by that PR.

I'd also recommend against copy-pasting and mixing-and-matching files from othe

[2021-10-06 18:54] gavanderhoorn commented on #428
Oh, and please note:

this is not an officially supported combination.

Could you clarify whether it's WSL or WSL2?

(this won't matter for the problem you encounter, but it is important information)

[2021-10-06 19:15] gavanderhoorn commented on #428
If your main (first?) goal is to get the driver started, I would recommend to reuse the existing `motoman_hc10_support` package and start:

[code]

That should start everything up as needed for the base driver.

You should not need to create any files yourself for this.

Note that I would not expect this to work with the original version of WSL, and there could be networking issues with WSL2.

[2021-10-06 19:18] gavanderhoorn opened #431 "todo: update the usage tutorial"
The current content instructs users to use `motoman_driver` directly instead of using the (convenience) `.launch` files in the support packages.

It also still references `move_to_joint.py` which was removed in #333 and should not be used any more.

Manually setting `controller_joint_names` is also not something we should instruct users to do.

[2021-10-06 19:19] gavanderhoorn commented on #428
Tracking updating that tutorial in #431.

[2021-10-06 20:38] adhitir commented on #428
I was using WSL2 and that could have been the issue here.
The base driver is working without errors. I had errors regarding the robot_description parameter and the joint names not being set properly, but I resolved those by adding the appropriate lines in the launch file.

How can I confirm if it's working? Is there another way to control the robot without MoveIt? I am able to call the enable and

[2021-10-06 20:44] adhitir commented on #428
I'm trying to use the MoveIt! interface to control a HC10DT robot. I'm not married to the idea of using MoveIt! so if there are other ways I can write python code to control the robot motion, I am willing to try it. I need the robot to move in complex trajectories to support a 3D printing research task.

[2021-10-06 21:04] adhitir commented on #431
I also recommend adding some instructions or examples on actually being able to interface with the robot.  An alternative to the move_to_joint example code.  Currently I'm not sure how to actually actuate the robot without attempting to setup a MoveIt! interface.

[2021-10-07 07:14] gavanderhoorn commented on #428
that's what the `.launch` files in the support package solve for you: they make sure the driver is configured for the specific robot you start the `robot_interface_streaming_hc10dt.launch` for.

Note that it's a `.launch` file in the `motoman_hc10_support` package. Not in `motoman_driver`.

re: `robot_description`: the driver does not load that as it will be specific to a user's setup / workcell.

[2021-10-07 07:22] gavanderhoorn commented on #428
I would also recommend you take a look at [Working with ROS-Industrial Robot Support Packages](http://wiki.ros.org/Industrial/Tutorials/WorkingWithRosIndustrialRobotSupportPackages), which tries to clarify how *robot support packages* are structured and what the role is of the files you may find in them.

[2021-10-13 14:09] adhitir commented on #428
This is for concrete 3D printing, so we don't require micrometer precision. We want to be able to input complex patterns and have the robot follow it.

I didn't understand this. How else can I build a repository without cloning it onto my PC and building it?

[2021-10-13 14:29] gavanderhoorn commented on #428
I noticed [adhitir/nsf-hc10dt](https://github.com/adhitir/nsf-hc10dt) in your account.

The [ros-stacks](https://github.com/adhitir/nsf-hc10dt/tree/b72546596ebf081d48b2ded38a428979dd594240/ros-stacks) sub directory there contains complete copies of the `ros-industrial/industrial_core`, `ros-industrial/motoman` and `velodyne_simulator` repositories.

That would not seem to be needed.

[2021-10-13 14:42] adhitir commented on #428
Ah, yes, that is correct. I need to clean that up. My advisor needed me to upload ALL the files in my workspace at the time.

[2021-10-13 15:46] adhitir commented on #428
I used the motoman_hc10_support package and I was able to move the robot with the FollowJointTrajectory action client.
Everything works fine. Thank you for all your help. I'm planning to perform the inverse kinematics using the KDL package to set Cartesian waypoints for the trajectories I want to generate. This is technically a separate question, but I was wondering if you had any suggestions or a

[2021-10-13 15:58] gavanderhoorn commented on #428
I would probably use [trac_ik](http://wiki.ros.org/trac_ik), as it tends to produce higher quality results and is very similar to KDL.

Or, use [opw_kinematics](https://github.com/Jmeyer1292/opw_kinematics). That's, similar to IKFast, *very* fast (analytic solver) and very well suited for 6dof industrial robots with ortho-normal wrists. You'd have to find the values for the required parameters tho

[2021-10-13 16:20] adhitir commented on #428
Thank you for all these recommendations!

[2021-12-12 14:45] gavanderhoorn commented on #361
WIP PR for "Group IO" support: #435.

[2021-12-12 14:45] gavanderhoorn commented on #419
WIP PR: #436.

[2021-12-12 16:43] gavanderhoorn commented on #361
WIP PR for "M Register" support: #439.

[2021-12-13 16:06] cjue commented on #311
The OPs issue was caused by the same problem mentioned here for the GP4:
https://github.com/ros-industrial/motoman/pull/433#issuecomment-988610550

The collision mesh for link2 is too large / fills in the concave geometry and restricts the range of movement for joint3 significantly. Should I check for other GP models for the same issue and create an issue just for this issue mentioning all affecte

[2021-12-14 08:37] cjue commented on #394
Smaller collision models are definitely interesting. I just want to point out that the GP4, GP7 and GP8 have their link2 "hollowed out" in a way that allows for more movement of joint3. A convex hull of link2 will therefore significantly restrict the range of motion of that joint, as shown here: https://github.com/ros-industrial/motoman/pull/433#issuecomment-988610550

Edit: convex hull, of course

[2021-12-14 08:53] gavanderhoorn commented on #394
I believe you mean *convex* hull.

See related discussion here: https://github.com/ros-industrial/fanuc/issues/65 and https://github.com/ros-industrial/fanuc_experimental/issues/34.

Creating lower-poly geometry without sacrificing quality is rather difficult, especially with curvy meshes, like most (newer) industrial robots include.

[2021-12-14 11:09] gavanderhoorn commented on #419
Edit: correction: this is indeed what will happen with #440.

---

Just to clarify:

this (ie: "see the pendant update the selected tool") will not happen with the current implementation of `SELECT_TOOL`.

See also the discussion in #440 and #436.

[2021-12-14 11:14] gavanderhoorn commented on #361
#438 (and the related PRs #435, #436 and #439) made it clear that including the MotoROS result (sub) code as part of the service response would actually be really nice. Right now we only include a human-readable error message, which is good, but doesn't work as well when trying to implement some automated recovery behaviour.

Adding a field to a message cannot be done in a bw-compatible way though

[2021-12-15 17:20] #258 closed

[2021-12-15 21:09] akashjinandra opened #442 "Unable to move more than one controllers at the same time"
Hello All,

I have a YRC1000 with a 6 axis robot arm, that is on a track(set up as an external axis) . I have a controllers.yaml file with 2 controllers, one for the arm and one for the track.  I have 3 moveit groups,  one with just the robot,  one with just the track and one with both the robot and the track. When using both the singular controller groups such as only robot and only gripper I am

[2021-12-16 08:11] akashjinandra commented on #442
Updated Errors from terminal:

[ INFO] [1639641492.462853818]: Execution request received
[ INFO] [1639641495.349610460]: Controller 'gp200r/gp200r_b1_controller' successfully finished

[ERROR] [1639641503.605817681]: Controller is taking too long to execute trajectory (the expected upper bound for the trajectory execution was 11.131715 seconds). Stopping trajectory.
[ INFO] [1639641503.605871035]

[2021-12-16 13:43] akashjinandra commented on #442
Hello, I figured out the solution to my issue, so in the controllers.yaml file you need to have all the individual controllers, like R1, B1, for each individual group on the robot controller, in my case, one for the robot, one for the track. What I was missing was one extra controller that controlled ALL the axes. See here: https://github.com/Danfoa/motoman/blob/kinetic-devel/motoman_sda10f_moveit

[2021-12-16 14:26] gavanderhoorn commented on #442
Good to hear you figured it out.

It's indeed not supported right now to move two different groups asynchronously (or: at the same time with two different goals) as you were trying to do.

MoveIt will try to do that if you only give it two groups -- one with the joints of the robot and one with the track joint -- and then create a group which contains *those* groups.

As you found out, the correct

[2021-12-16 14:26] gavanderhoorn commented on #442
As this was solved by correcting the configuration, I'm going to close the issue.

Not to say that things wrt multi-group motion can't be improved, but we already have issues tracking those enhancement requests.

[2021-12-16 14:26] #442 closed

[2021-12-16 14:38] akashjinandra commented on #442
Thanks for your input. When I said simulation, I meant with normal ros control(gazebo/fake joint ros control) and moveit. You can specify in the controllers.yaml file one controller for the track(b1) and another for the robot(r1), and have the corresponding ROS controllers that are of the follow joint trajectory type. At this point if you have one moveit group that has both the track and the robot

[2021-12-16 14:55] gavanderhoorn commented on #442
ah, ok.

So the reason that works is because everything is completely virtual, and you actually don't have synchronous motion with that setup. *Coordinated* in a way perhaps, but not synchronised. MoveIt just happens to submit the goals to the individual groups really close together (in time).

In practice you probably won't notice that, due to the kind of application you're working on, but that's

[2021-12-16 15:05] #117 closed

[2021-12-16 15:05] #261 closed

[2021-12-20 18:41] ted-miller opened #443 "Joint naming convention"
I received a support request from a user who is getting the error `Failed to find topic_list parameter`. Following the advice from [here ](https://answers.ros.org/question/272045/support-motoman-yaskawa-gp-7-model/) and [here](https://github.com/ros-industrial/motoman/issues/235), we determined that `controller_joint_names` was not set correctly.

It seems that naming convention changed at some po

[2021-12-21 06:03] rsrisamang-miso opened #444 "ROS Client and Server differ on what messages should be communicated to each other. GP7 launch file"
Tried to launch a launch file that defines the topic_list parameter to resolve the missing topic_list error.  Launch file:

[code]

where `gp7_motion_interface.yaml` is defined as:

[code]

Received the error from the ROS Server below:

[code]

Is this a configuration issue or must I make changes in the /motion_streaming_interface node to use trajectory_msgs/JointTrajectory type instead of motoman

[2021-12-21 08:36] akashjinandra opened #445 "Aborting Trajectory. Failed to send point (#0): Invalid message (3) : Trajectory start position doesn't match current robot position (3011)"
Hello,
My system: ROS Melodic, Ubuntu 18.04, YRC1000 running MotoRos 1.99
I'm running a multi group system with a robot on a track, meaning a group for robot and a group for the track. I am running into this error: Aborting Trajectory.  Failed to send point (#0): Invalid message (3) : Trajectory start position doesn't match current robot position (3011)

I am currently on this branch:
https://gith

[2021-12-21 09:11] gavanderhoorn commented on #444
Do you actually have a multi-group system?

The `ERROR` isn't really an error in the case of a single group setup.

For your setup specifically: if you don't have a multi-group system, you don't need the `topic_list` parameter. The `.launch` files in the `motoman_gp7_support` package should work for you.

This seems like it was discussed in #235 and #242, which refer to #113 (which discusses the `

[2021-12-21 11:50] gavanderhoorn commented on #445
Figuring out what is going wrong is not going to be possible without more information.

I'd suggest making available (or pointing to):

 1. your support package
 2. your MoveIt configuration
 3. example code which shows the problem (ie: generates a `JointTrajectory` but fails to execute)
 4. a Wireshark capture tracing an unsuccessful execution

PS: this could have been a comment on one of the exi

[2021-12-21 12:38] akashjinandra commented on #445
Sorry about that, didn't mean to cause fragmentation, as mentioned in https://github.com/ros-industrial/motoman/issues/111 if I have a big enough delay between my movements, then the problem doesn't occur, I'm currently trying to implement the checking of the robot status in motion bit.

[2021-12-21 13:28] gavanderhoorn commented on #445
Then I'll close this for now assuming the problem is as described in #111 (sending new trajectories before the current one has finished executing).

Note that providing a description of the control flow would have helped to diagnose this (which is what prompted the request for an MWE).

[2021-12-21 13:46] rsrisamang-miso commented on #444
No, I don't have a multi-group system, but I could be mistaken. Thank you
for the reply!  I will look at the other similar issues.  I was actually
trying to address another issue in which I was receiving alternating
/joint_state frames with actual joint states in one frame and zero valued
joint states in the following frame.  I did a Wireshark capture and sent to
Ted Miller at Motoman.  He says I

[2021-12-21 16:26] gavanderhoorn commented on #444
depending on how this is setup, that could be a multi-group system, yes. And if @ted-miller says it's multi-group, it most likely is.

If you have one, then I would expect both groups to be mentioned in the `topic_list` configuration you show, but there's only a single group there.

Could you share your complete configuration (ie: including the rail), or perhaps a configuration which is similar to

[2021-12-21 17:35] akashjinandra commented on #444
if it is indeed a multi group system follow this: http://wiki.ros.org/motoman_driver/Tutorials/Creating%20a%20Dual-Arm%20System this has the topic list defined. You also will need to do include the correct file in your ROS job that runs on the controller, in your case, I believe it should be: https://github.com/ros-industrial/motoman/tree/kinetic-devel/motoman_driver/Inform/DX200%2C%20FS100%2C%20Y

[2021-12-21 20:12] ted-miller commented on #444
It is an R1+S1 system. We have discussed the `Creating a Dual Arm System` link. But, we're investigating another issue first. It seems that the INIT_ROS is not starting with the `robot_enable` service. I have provided my windows-message-emulator utility to validate that the robot is properly configured (eliminate any variables from the ROS configuration).

[2021-12-22 05:51] gavanderhoorn commented on #444
I'm not entirely sure MotoROS-related problems can cause the error shown.

It would be good -- in parallel to any diagnostics you are performing -- for @rsrisamang-miso to share the exact files (s)he is using (including any customisations), and the exact sequence of commands.

[2021-12-22 05:54] gavanderhoorn commented on #444
And just to point out something (perhaps) obvious: ROS Kinetic has been EOL for quite some time now. If that version is being used in order to be able to run the packages in this repository: that would not be necessary.

[2021-12-22 08:54] rsrisamang-miso commented on #444
The current launch file I have is fairly straight forward:

[code]

The `gp7_motion_interface.yaml` file looks like this:

[code]

The joint_names_gp7.yaml file looks like this:

[code]

Should I probably add the 'joint_1_rail' joint name at the end of the controller_joint_names list?

I need to run the launch files again in the morning to get the output from using the main launch file described a

[2021-12-22 16:44] akashjinandra commented on #444
I think you might want to have a different name for your controller for the second one, like this:
![image](https://user-images.githubusercontent.com/22859817/147126311-fcefe507-2a18-4d2c-85ad-e3de7c8ac700.png)

You see they have a controller called: sda10f_r1_controller for just the arm and another controller for the base axis: sda10f_b1_controller

[2021-12-22 17:38] rsrisamang-miso commented on #444
Thanks Akash.  You're right.  I updated my topic_list by changing the name.  That helped clear up the following error messages I was getting:

[code]

I no longer receive the messages above when starting the launch file.

I still get this Error message though:

[code]

Despite the 'Dropping connection' error, I'm able to still receive valid joint_states frames from the rostopic.

[2021-12-22 17:50] gavanderhoorn commented on #444
@rsrisamang-miso: could you please post the exact sequence of commands and the output you get (as I asked before)?

Make sure to append `--screen` to the `roslaunch` invocation.

Without more information we'll have to keep guessing, like @akashjinandra is doing.

---

Edit: and could you please use [Github code blocks](https://docs.github.com/en/github/writing-on-github/working-with-advanced-forma

[2021-12-22 20:02] rsrisamang-miso commented on #444
@gavanderhoorn , apologies for not posting this sooner.  Thank you for also the tips on how to post code using Github code blocks.  Hopefully this is in the correct format:

Filename: miso_yaskawa.launch (motoman_driver/launch)
[code]

Filename : joint_names_gp7.yaml (motoman_gp7_support/config)
[code]

Filename : gp7_motion_interface.yaml (motoman_gp7_support/config)
[code]

Command sent is:
[cod

[2021-12-22 22:17] rsrisamang-miso commented on #444
When I send the rosservice list command, I get the following output:

[code]

I tried sending a rosservice call to /gp7/gp7_yrc1000u/joint_path_command and the output I get is:
[code]

[2021-12-23 09:20] gavanderhoorn commented on #444
Please run the following command instead of what you've shown:

[code]

I don't believe you did that, as I would expect different output in that case.

And there's no use in trying anything with the driver in this state, as it doesn't initialise correctly.

I'm also unsure why you'd want to use the `joint_path_command` service. The preference would be to use the `FollowJointTrajectoryAction` serve

[2021-12-23 13:16] rsrisamang-miso commented on #444
Sorry for misunderstanding your --screen option!  Here's the output for the following command:

I am running everything as root in my shell.  Also, I updated the joint_names_gp7.yaml file to include the additional external motor:

File:
[code]

Command:
[code]

Output:
[code]

Also, I'm not quite sure where I would find the JointTrajectoryAction.  Should that be part of the rosservice list of serv

[2021-12-23 13:34] rsrisamang-miso commented on #444
I think I found the issue.  The version0 value is set to 'true' in the launch file, which assumes older client version.  I set it to false and now I don't get the error.

[2021-12-23 13:35] gavanderhoorn commented on #444
Ok. It seems you're using an incorrect `.launch` file.

You should be `include`-ing the `$(find motoman_driver)/launch/robot_multigroup_interface_streaming_$(arg controller).launch` file.

The non-`multigroup` file will try to use the regular `joint_trajectory_action` node, which uses different messages to communicate with the driver.

---

Edit:

don't set `version0` manually.

Just include the c

[2021-12-23 13:38] rsrisamang-miso commented on #444
Thank you for your help @gavanderhoorn, and @akashjinandra too!  Definitely learned something here.  I appreciate your advice and comments on this issue.

[2021-12-23 13:43] gavanderhoorn commented on #444
As it appears we've diagnosed the cause of the error reported in the OP, I'm going to close this issue.

[2021-12-23 13:43] #444 closed

[2022-01-06 19:09] Doomerdinger commented on #394
@gavanderhoorn Yes, when I have done it I have done it by hand and it is time consuming.
Given that I may be doing this process for a select number of robots anyway, I was mainly curious if there was any desire for me to put the lower poly models in a PR in some capacity.

[2022-01-19 17:53] MaxorPaxor opened #446 "fail to build point_streaming"
# Summary
Hello,
I'm trying to implement point_streaming

# Environment
OS : Ubuntu 20.04 (Tried on 18.04 as well)
ROS Version : Noetic (Tried on Melodic as well)
Robot : GP8
Controller : ycr1000

# Details
After cloning and building this repo, I try to merge #215 by:
`git fetch origin pull/215/head:point_streaming`
`git checkout point_streaming`
`catkin build`

And it fails while building it with

[2022-01-19 18:10] gavanderhoorn commented on #446
It's missing (at least) #427 (specifically: e0b69dd).

[2022-01-19 18:11] gavanderhoorn commented on #446
I'm going to close this, as it's not something we need to fix.

That branch/PR is kept around for archival purposes only.

[2022-01-19 18:11] #446 closed

[2022-01-19 18:16] gavanderhoorn commented on #446
If you're going to try and use it for [MaxorPaxor/ThrowBot](https://github.com/MaxorPaxor/ThrowBot), you may be interested in [ra-mtp-ntnu/motoman_hardware](https://github.com/ra-mtp-ntnu/motoman_hardware) which adds a(n unsupported) form of velocity control.

It's ROS 2 though. And will likely require updates to the `ros2_control` side of it.

---

Edit: and you'll need [tingelst/motoman](https:/

[2022-01-24 11:48] akashjinandra commented on #445
Hello @gavanderhoorn  I am still experiencing this issue. Here are some logs with a python script to reproduce:
[motoman_driver_issue.zip](https://github.com/ros-industrial/motoman/files/7925283/motoman_driver_issue.zip)

I'm working on getting the moveit config to a MWE for you as well. It is basically just a robot on a track with an external axis.

[2022-01-25 11:37] tingelst opened #447 "Send points while moving without BUSY in return"
We are having some troubles sending new waypoints while the robot is in motion using our own library: https://github.com/ra-mtp-ntnu/moto.

We have some questions:
1. How can we send a whole trajectory to the robot?
2. How can we send new trajectory points (stream) to the robot while the robot is in motion without getting resulttype busy in return? I think this line is responible: https://github.c

[2022-01-25 12:02] gavanderhoorn commented on #447
you can't. Or at least, not in a single message.

MotoROS uses a *trajectory streaming* approach, meaning `motoman_driver` takes a `JointTrajectory`, decomposes it into its constituent `JoinTrajectoryPoint`s, converts those to their Simple Message equivalent and starts streaming those to MotoROS. MotoROS has an internal buffer which gets 'fed' by this incoming stream of traj pts. The consuming sid

[2022-01-25 12:09] gavanderhoorn commented on #447
As I believe this isn't (going to turn out to be) a problem with any of the packages here in this repository, I'm closing the issue.

Feel free to keep commenting on it of course.

If it turns out there is indeed something actionable, we can re-open.

[2022-01-25 12:09] #447 closed

[2022-01-26 12:26] gavanderhoorn commented on #445
We're going to need at least items 1 and 2 before I can help.

---

Edit: and if you're not using `.launch` files in your support or MoveIt package to start the driver, we're going to need those as well.

And:

this is now working?

How are you checking exactly? The code you provided appears to be a copy-paste of a MoveIt tutorial. I don't see any lines which check `in_motion` in there.

[2022-01-28 16:20] gavanderhoorn commented on #445
Ping @akashjinandra ?

[2022-01-31 07:26] akashjinandra commented on #445
I'm sorry for the delay. Here it is: [src.zip](https://github.com/ros-industrial/motoman/files/7968847/src.zip) after downloading and creating a catkin ws, you should be able to build and run these commands.

Please run roslaunch universal_moveit_config planning_execution.launch mode:=stub for testing in simulation
and
roslaunch universal_moveit_config planning_execution.launch mode:=real for runn

[2022-01-31 19:02] gavanderhoorn commented on #445
I just checked the archive you've shared.

It references a `robot_hardware_interfaces` package, which is not included.

For a multi-group setup, there should be a `.yaml` file which configures the `topic_list` parameter. That's present (`gp200r_motion_interface.yaml`), but that file doesn't appear to be loaded by any of the files in the `.zip`.

Could you show how the driver is started *exactly*?

[2022-01-31 19:05] gavanderhoorn commented on #445
And could you please also share the console logging output of the driver? I cannot run your `real` configuration, as I don't have your hw, and the `test` variant uses `ros_control` and `fake_joint`, which doesn't use any of the infrastructure of the driver.

Please make sure to start the driver using the `--screen` argument to `roslaunch`.

[2022-01-31 19:31] gavanderhoorn commented on #445
I've just checked the wireshark traces you've shared in https://github.com/ros-industrial/motoman/issues/445#issuecomment-1020014858.

While we could still be seeing an instance of #111, at least in `real_failure.pcapng` I believe MotoROS is doing what it's supposed to do.

From packet `40016` I copied the "last" state of the robot right before a new trajectory starts execution.

From packet `4002

[2022-01-31 20:18] akashjinandra commented on #445
Hello and thanks for your response. I didn't realize that you would be looking at it during this time(I appreciate it.)
![image](https://user-images.githubusercontent.com/22859817/151866337-dabff315-eab1-47a7-84bd-f9318c9f639a.png)

It was referencing this launch file, which loads the yaml file which has the topic list parameters
[src_fixed_launch.zip](https://github.com/ros-industrial/motoman/fil

[2022-01-31 20:54] akashjinandra commented on #445
In our production code we do it in c++ with something like this:
![image](https://user-images.githubusercontent.com/22859817/151871123-a554db3c-e174-4c02-8c5a-c6df2cbd6dff.png)

I will capture a wireshark log on this, and add the waiting for robot in motion bit to the python script.

[2022-02-01 00:52] dean4ta opened #450 "Joint Trajectory Action status is always ends in "LOST" after executing command"
## Context

When sending trajectories to a Yaskawa GP7 using an action server hosted by the [joint_trajectory_action.cpp](https://github.com/ros-industrial/motoman/blob/kinetic-devel/motoman_driver/src/industrial_robot_client/joint_trajectory_action.cpp), the status goes from ACTIVE to LOST (see [GoalStatus msg](http://docs.ros.org/en/lunar/api/actionlib_msgs/html/msg/GoalStatus.html)) regardless

[2022-02-01 21:13] akashjinandra commented on #445
Latest screenshot of the log of the motoman driver:
![image](https://user-images.githubusercontent.com/22859817/152049851-bcfcb6a5-4f22-4897-9dcc-2ae8acc80c56.png)

And the log of what happened when we looked at the robot in motion bit. The problem is definitely intermittent, we went through multiple trajectories back to back without issue, and then in the final one we hit an issue.

[2022-02-01 21:18] akashjinandra commented on #445
Here is a set of logs that are from the past run:
[logs_part_1.zip](https://github.com/ros-industrial/motoman/files/7981971/logs_part_1.zip)

[2022-02-01 21:19] akashjinandra commented on #445
[failure_2.zip](https://github.com/ros-industrial/motoman/files/7981977/failure_2.zip)

breaking up cause github has file limit size

[2022-02-01 21:50] akashjinandra opened #451 "Aborting goal because we haven't heard from the controller in 1 seconds"
Hello I am currently experiencing this error:
![image](https://user-images.githubusercontent.com/22859817/152057020-e5eb3c05-aac6-4ad2-8293-ab41a9842584.png)

I am on running Ubuntu 18.04 on ROS Melodic. Currently on this branch: https://github.com/ros-industrial/motoman/pull/259

Interestingly enough I only have this error when I have an IDE open, like Qt creator or Pycharm. System specs:
![image

[2022-02-01 22:02] EricMarcil commented on #445
If I look at the failure_2.pcapng at the last failure:
   Packet 146379 is the failure 3011
It is a response to:
   Packet 146350 which is the motion start (Time=0)
   Group 1 Position J0: 3.771580935
But current joint feedback:
   Packet 146342 (before)
   Packet 146372 (after)
   Both report the current position as:
   Group 1 Position J0: 3.770539284

I have to go back to packet 145667 to find

[2022-02-02 09:11] gavanderhoorn commented on #445
@akashjinandra: could you verify the results of the analysis I did in https://github.com/ros-industrial/motoman/issues/445#issuecomment-1026132890 and @EricMarcil reports?

I realise it may be inconvenient, but the way MotoROS works, there is a good reason for why it checks `current_state == traj_pt0`. If there is a difference, you'll get the error you report.

[2022-02-02 09:12] gavanderhoorn commented on #445
Could I also ask you to please not post screenshots of what is essentially text?

Please just copy-paste it into comments inside a [code block](https://docs.github.com/en/get-started/writing-on-github/working-with-advanced-formatting/creating-and-highlighting-code-blocks).

[2022-02-02 09:14] gavanderhoorn commented on #445
Could you please update your `ROSCONSOLE_FORMAT` env var to something like this:

[code]

you currently appear to have it at its default, which makes it rather difficult to see which messages are emitted by which nodes / loggers.

[2022-02-02 09:37] gavanderhoorn commented on #447
Has this clarified things @tingelst ?

[2022-02-02 09:51] gavanderhoorn commented on #445
In `failure_1.pcapng` we see this:

[code]

Packet `26361` is the last `Motoman Joint Feedback Extended` before packet `26365`, which contains the `Motoman Joint Trajectory Point Full Extended` (ie: start of the trajectory).

I've marked the joints which show a difference between the current state and the values used in the first trajectory point of the new trajectory.

It's likely `gp2.J0` which

[2022-02-02 09:56] gavanderhoorn commented on #445
@akashjinandra: could you perhaps also share a rosbag with the `JointState` topics, the `RobotStatus` topics, `rosout`, `rosout_agg` and the various `FollowJointTrajectoryAction` topics?

That might help determine whether there is a problem with the action server reporting motion completion too soon.

[2022-02-02 09:57] gavanderhoorn commented on #451
Please see https://github.com/ros-industrial/motoman/issues/445#issuecomment-1027730682 about configuring your console logging such that we can see what is printing those lines.

Please also start your `.launch` file with `roslaunch --screen ...`, as we're missing a lot of output which could help.

And please do not post screenshots of text in a terminal. Copy-paste it into your comment here, in a

[2022-02-02 11:26] gavanderhoorn commented on #450
Could you please describe your setup more? Is this a single- or multi-group robot, how are you starting things, which `.launch` files are you using?

And if possible, a minimal script which reproduces what you're reporting.

References to code I cannot access complicate diagnosing what's going on.

[2022-02-02 11:28] tingelst commented on #447
Yes , a bit.

I haven't had the time to test this in the lab, but can our problem then be that we send trajectory points to fast?

I see that there is a sleep in the ros driver: https://github.com/ros-industrial/motoman/blob/9a7411fca190f7f3b11f8a73824a3ce0698235bb/motoman_driver/src/joint_trajectory_streamer.cpp#L408

[2022-02-02 11:46] gavanderhoorn commented on #447
I wouldn't know, as I don't believe you've described your problem.

Seeing `BUSY` is not a problem. It's by design.

There is no way for a buffer to be "large enough" for all possible trajectories, hence some way to tell the sending side to "back off" for a bit is always needed. That's what a reply with `BUSY` does: it tells the client (in this case your library) to stop sending more data and try

[2022-02-02 15:45] akashjinandra commented on #451
Yes this is a VM. I will gather the roslaunch with --screen.

[2022-02-02 15:47] akashjinandra commented on #445
Alright I will work on getting those. Thanks for the help!

[2022-02-02 15:57] gavanderhoorn commented on #445
Note that so far it looks like the trajectories you are sending are just not starting at `current_state`. That would not be a problem on the MotoROS side, but with whatever is generating those trajectories.

The reason I ask for additional information / `.bag`s is to make sure `motoman_driver` and MotoROS do what they are supposed to.

[2022-02-02 18:50] dean4ta commented on #450
Hi thanks for the support, I will get you more concise setup information and how we are launching things later today. In the meantime, I was having difficulty finding where the Action Server actually sends results using methods like: `action_server.set_succeeded(result)`, `action_server.set_preempted()`, `action_server.set_aborted()`. Where are these resutls set?

---
edit:
I found where the goals

[2022-02-02 19:59] #406 closed

[2022-02-03 08:53] gavanderhoorn commented on #447
Just re-read your https://github.com/ros-industrial/motoman/issues/447#issuecomment-1027845688 and noticed:

if by "too fast" you mean "are we trying to send too many points in too short a time?", then *yes*, that could be the cause of whatever problem you are having.

The `BUSY` replies are part of a handshake mechanism, with which the producer (ie: the client, your library, `motoman_driver`) tog

[2022-02-03 08:55] gavanderhoorn commented on #450
`motoman_driver` is not written in Python, so I'm not surprised you couldn't find the methods you mention.

[2022-02-03 09:03] gavanderhoorn commented on #420
I'm going to close this.

We don't officially support point streaming in the current version of `motoman_driver`, and from the lack of activity here I assume the initially reported issue has been resolved.

[2022-02-03 09:03] #420 closed

[2022-02-03 09:05] gavanderhoorn commented on #420
@rr-robert and @rr-david-alatorre:

could you confirm you're not doing this?

I wouldn't understand what effect it would have on the queue overflowing, but would give some clue as to why `roscore` could be involved.

[2022-02-03 09:19] tingelst commented on #447
Then we agree, thanks @gavanderhoorn!

I was just in the lab and managed to send several points resulting in a smooth motion by waiting for a not busy reply. I implemented the same waiting mechanism as in the ros driver.

[2022-02-03 09:50] dean4ta commented on #450
## Yaskawa Action Server Launch

Okay so I gathered some data after launching the motoman drivers and Trajectory action server with the following:

top-level launch file:

<details><summary>`yaskawa.launch` - click to expand</summary>

[code]

</details>

`joint_state_filter` node is meant to combine the published joint_states from the yaskawa arm and a slider rail into one message. (This step com

[2022-02-03 16:23] #419 closed

[2022-02-03 20:47] acbuynak commented on #443
+1 for updating older packages to the new convention, but it may be prudent to note the old convention in the tutorial if people reference older forks of the support package.

I work with an MH5 (long-variant) on a daily basis, but understand them to be less common. And have an old open PR #380 which updated multiple things with the MH5 support package including the change in naming convention.

[2022-02-07 13:18] gavanderhoorn commented on #450
thanks for all the information.

You have a multi-group system. I'm not really concerned with the ROS side. MotoROS and the configuration of the Yaskawa controller determine whether you have a multi-group system or not.

The fact you mention you have an `R1` and an `S1` already imply you have a multi-group system.

I'm a little confused as to why this is necessary.

`motoman_driver` publishes comb

[2022-02-07 13:28] ted-miller commented on #450
No, not with the ROS interface.

On the teach pendant, there are "group combinations" that can be defined. These can appear to be a single group when programming an Inform job. However, they are distinct separate groups at a lower level.

As you stated above, the MotoROS interface will send three feedback messages to `motoman_driver`. One for R1, one for S1, and one with both groups.

[2022-02-07 13:31] ted-miller commented on #450
To elaborate a little more, it can be little extra confusing when using a rail mounted to the robot's base. The rail is implicitly linked to R1 without defining a "group combination". This makes it part of the robot's kinematic chain. But, the rail is still an independent group at the lowest level.

[2022-02-07 13:33] gavanderhoorn commented on #450
Yes, that's how our YRC1000 is also configured (GP25 on a TSL-1000).

[2022-02-08 01:07] nardavin commented on #450
Hi, I'm another engineer working on the same project as @dean4ta - we were able to strip down our code to create a more concise example of the error we experienced, incorporating the advice we've received so far. Hopefully this helps explain what we are seeing and what is going wrong.

<details><summary>test_yaskawa.launch - click to expand</summary>

[code]

</details>

<details><summary>gp7_moti

[2022-02-08 07:10] akashjinandra opened #454 "Need to use multiple branches for application"
Hello All,

I am using Ubuntu 18.04 with ROS Melodic. I have an application where I need to both use this branch: https://github.com/ros-industrial/motoman/pull/259 due to the robot having multiple groups(robot+track+articulated gripper). However I also need to use this branch as well to write registers: https://github.com/ros-industrial/motoman/pull/439.

The current solutions is basically to hav

[2022-02-08 07:44] gavanderhoorn commented on #454
You'd create a branch in your local clone into which you `git merge` both branches.

[2022-02-08 07:44] gavanderhoorn commented on #454
As this is not an issue with the packages in this repository, I'm closing it.

Feel free to keep commenting on it.

[2022-02-08 07:44] #454 closed

[2022-02-08 07:54] gavanderhoorn commented on #450
Thanks for the update, but I'd still like to see:

 - the wireshark capture
 - the `rqt_graph` screenshot, and
 - the output of the `motoman_driver` nodes when you start everything with `roslaunch --screen ...`

this should not be necessary, provided you subscribe to the correct topic.

On my personal setup, I use a single `rospy.wait_for_message('joint_states', JointState)` which gets me the full

[2022-02-08 07:58] gavanderhoorn commented on #450
Seeing as you have a multi-group system, it's likely you're being bitten by what #259 attemps to fix. It's not complete (hence why it hasn't been merged), but there's a good chance it'll resolve the lost goals.

[2022-02-08 08:29] rsrisamang-miso commented on #450
Hi @gavanderhoorn , I'm not sure why, but we are not seeing the /joint_states message containing all joint states in one frame.  Would that data be originating from the MotoROS Application or is that something the motoman_driver will generate and publish to the /joint_states topic?

[2022-02-08 16:14] gavanderhoorn commented on #450
Please provide me with at least the wireshark trace, so we can rule out a couple of things.

I'd also still like the rest of the items I described in https://github.com/ros-industrial/motoman/issues/450#issuecomment-1031460588.

[2022-02-08 18:41] gavanderhoorn commented on #445
Any update here @akashjinandra ?

[2022-02-09 09:32] gavanderhoorn commented on #451
Any update here @akashjinandra ?

[2022-02-09 10:27] Noraboke opened #455 "Activation of weld guns from MotoROS"
Hi,
We have been using MotoROS with our GP25-12 successfully for general movement control, but would also like to move on to welding. Is there any proper way to achieve this through MotoROS?

So far, we have been looking into writing various user output groups on/off, however, it seems like the only relevant addresses signalize that we are ready for the welding and not actual activation of the ARC

[2022-02-09 10:33] gavanderhoorn commented on #455
Could you clarify whether you're also using `motoman_driver`?

From the way you phrase your question I have the feeling you're not.

[2022-02-09 10:40] Noraboke commented on #455
My bad. Yes, we are also using the motoman_driver.

[2022-02-09 15:56] ted-miller commented on #455
Hi Noraboke.
Unfortunately, the ROS interface does not have any direct connection to the robot's standard "process" controls (welding, painting, cutting, etc). So, there is no way to directly call a normal ARCON/ARCOF command. But there are a couple work arounds.
(FWIW, this is on the development planning roadmap for sometime in the future. But, there's no schedule for it yet.)

Options:
1) The be

[2022-02-09 20:16] akashjinandra commented on #445
Sorry our robot was down for one day, I think it is resolved but I am going to double check with a couple more cycles tomorrow.

[2022-02-11 07:31] gavanderhoorn commented on #450
Friendly ping

[2022-02-14 16:07] gavanderhoorn commented on #450
Closing due to inactivity.

I'd still be interested in diagnosing this, but without more information, that's going to be difficult.

[2022-02-14 16:07] #450 closed

[2022-02-14 16:07] gavanderhoorn commented on #445
Closing due to inactivity.

If you have any updates @akashjinandra, we can re-open.

[2022-02-14 16:08] gavanderhoorn commented on #451
Closing due to inactivity.

If/when you have updates @akashjinandra, we can re-open.

[2022-02-14 16:12] rsrisamang-miso commented on #450
Hi @gavanderhoorn, sorry for the late response.  Sorry for the late response.  Will send you info in the next day or two.  Thanks for following up.

[2022-02-18 22:31] adamlouis opened #469 "request - inertia, dynamics, & transmission elements in gp4 URDF for use in ROS/Gazebo physics simulation"
Hi!

I am trying to simulate the GP4 arm in [Gazebo](https://gazebosim.org/tutorials/?tut=ros_urdf) + ROS tools.

The [GP4 URDF in this repo](https://github.com/ros-industrial/motoman/blob/kinetic-devel/motoman_gp4_support/urdf/gp4_macro.xacro) contains:

- geometry
- collisions
- joint relationships

but **does not** have

- `<inertia>` tags on links
- `<dynamics>` tags on joints
- top-level `<tr

[2022-02-19 07:41] gavanderhoorn commented on #469
I'd refer you to two recent discussions about the same topic: #322 and #416.

From what I've understood, it's unlikely we'll add them.

The ones in the SIA10D model are approximations (and most likely bad ones).

I'll leave this open and wait for confirmation from @EricMarcil, but from the previous two issues I expect my answer to be correct.

[2022-02-22 10:40] gavanderhoorn commented on #450
Just checking you've resolved the issue.

[2022-02-23 01:51] josephbhlee opened #471 "the following packages/stacks could not have their rosdep keys resolved to system dependencies"
When I execute rosdep install command, I faced the following error message.
Can you guide me to solve this problem?

[code]

[2022-02-23 05:07] akashjinandra commented on #445
Hello @gavanderhoorn I"m very sorry for the delay. Unfortunately it seems like we are still having this issue. Is there a way you can show me how you parse the wireshark logs? Both you and @EricMarcil  seem to be able to parse these logs and find the issues where the issue is happening. We are going to collect the bag file tomorrow on the robot.

[2022-02-23 07:50] rsrisamang-miso commented on #450
Yes, we've applied similar changes to the issue you mentioned in #259.  We were able to resolve the lost goals.  Thank you.

[2022-02-23 08:55] gavanderhoorn commented on #450
I'd be interested to know exactly *which* changes. That could help resolve it here as well.

---

Edit: I don't see a fork of `motoman` on [github.com/orgs/MisoRobotics](https://github.com/orgs/MisoRobotics/repositories).

[2022-02-23 09:57] gavanderhoorn commented on #445
See [ros-industrial/packet-simplemessage](https://github.com/ros-industrial/packet-simplemessage).

That dissector should be able to let you see what's going on.

[2022-02-23 10:03] gavanderhoorn commented on #471
First: please note that ROS Kinetic has been EOL for about a year now. The branch here may be called `kinetic-devel`, but that's just because we haven't had a reason to create a `melodic-devel` (or `noetic-devel`) yet.

Having written that: `trac_ik_kinematics_plugin` should be available for ROS Kinetic. See [status_page/ros_kinetic_default.html?q=trac_ik](http://repositories.ros.org/status_page/r

[2022-02-23 10:04] gavanderhoorn commented on #471
As I don't believe this is a problem with the packages in this repository, I'm going to close the issue.

If it turns out we do need to fix something, we can re-open.

Feel free to keep commenting on it of course.

[2022-02-23 10:04] #471 closed

[2022-02-23 19:18] josephbhlee commented on #471
Thank you! I solved the issue by your recommendation!

[2022-02-23 19:24] gavanderhoorn commented on #471
Which one?

[2022-02-23 21:01] josephbhlee commented on #471
Having written that: trac_ik_kinematics_plugin should be available for ROS Kinetic. See [status_page/ros_kinetic_default.html?q=trac_ik](http://repositories.ros.org/status_page/ros_kinetic_default.html?q=trac_ik) for instance.

[2022-02-23 21:33] gavanderhoorn commented on #471
I'm not sure I understand.

Could you describe what you've done exactly?

[2022-02-23 21:41] josephbhlee commented on #471
I just installed the package you mentioned as follows.

sudo apt-get install ros-kinetic-trac-ik-kinematics-plugin

Thanks!

On Wed, Feb 23, 2022 at 3:33 PM G.A. vd. Hoorn ***@***.***>
wrote:

[2022-02-28 18:44] Schteve-Earl commented on #445
@gavanderhoorn  [Here.zip](https://github.com/ros-industrial/motoman/files/8155812/gp200r_rosbag.zip) is a zip file with two rosbags that captured the bug, sorry it took so long to get them to you.

[2022-03-03 11:49] akashjinandra commented on #445
@gavanderhoorn  or @EricMarcil is it possible for you guys to check out the rosbags to see if we are doing anything wrong?

[2022-03-03 13:15] gavanderhoorn commented on #445
I won't have time to take a look this week.

[2022-03-03 13:16] gavanderhoorn commented on #450
Friendly ping?

[2022-03-06 12:53] gavanderhoorn commented on #361
Just merged #435 and updated the OP.

Keeping this open to track status of "add MotoROS result (sub) code to service response".

[2022-03-09 12:36] gavanderhoorn commented on #450
And another ping.

[2022-03-09 17:07] gavanderhoorn commented on #445
I've taken a look at the two `.bag`s. There are a few things which puzzle me.

According to your earlier descriptions and the files you provided, this system is a multi-group system. The `.bag` however only contains a single `joint_states` topic, and a single `/arm_controller/follow_joint_trajectory` namespace. I would have expected 4 of each of those, 1 per group.

Were the `.bag`s recorded with

[2022-03-11 18:48] akashjinandra commented on #445
Hello, I'm sorry for the delay in response. We will gather both the logs and ros bags. There are still 4 JointTrajectory Topics for each of the groups, but we only captured one in the rosbag, we will gather all of them in the next one. And I believe we are still using the motoman driver as before. Thanks again for your help.

[2022-03-12 00:08] adamlouis opened #472 "Cannot move GP4 + YRC1000micro with ROS using `rostopic pub` or MoveIt + RViz configuration"
Hi! I am trying to get a new **GP4** robot working with **ROS + MoveIt** using a **YRC1000micro** controller.

I can't get to the robot to move ... but I seem close. I would appreciate any help or debugging steps to get our robot moving.

We purchased our robot with the ROS package installed.

## summary
- I am running ros noetic on ubuntu 20.04 (LTS)
- I can read the robot state & view it in Rviz

[2022-03-13 00:02] josephbhlee opened #473 "Dual Arm Operation Error"
I have tried to operate dual arms at the same time, but failed.
//////////////////////////////////
1.Main Source Code
 std::vector<double> ppoints[2];
  std::vector<double> pvelocities[2];

  //Use current pose as first trajectory point
  ppoints[0] = readJointAngles();
  pvelocities[0] = readJointVelocities();

  //Use goal for position and 0 for velocity of second trajectory point
  ppoints[1].a

[2022-03-14 14:29] marip8 commented on #472
Thanks for the detailed issue explanation; I don't see any obvious issues with your approach or your MoveIt config.

MoveIt has some dynamic reconfigure parameters relating to trajectory execution that might be causing your issue. You might try turning off `execution_duration_monitoring` or increasing the `allowed_execution_duration_scaling`. Your planned trajectory should have time stamps associa

[2022-03-14 14:46] gavanderhoorn commented on #472
`rostopic pub`-ing to an action `goal` topic is not a good idea. Not just with `motoman_driver`, but in general.

I'd suggest using code similar to what is linked in #229.

I'm slightly confused as well: AFAIK and IIRC, goals with a `JointTrajectory` with a single point in them should not be accepted. `motoman_driver` absolutely needs two points: current state and destination point. The `rostopic

[2022-03-14 14:47] gavanderhoorn commented on #472
@marip8 wrote:

If that was with `motoman_driver`, something is wrong, as that should not be necessary.

Unless perhaps the joint limits for the specific robot were not configured correctly and whatever parameterised the trajectory is expecting the robot to be able to move faster than it really can.

[2022-03-14 14:51] gavanderhoorn commented on #450
And another friendly ping.

@dean4ta @nardavin @rsrisamang-miso: could you please respond to my request?

[2022-03-14 15:03] marip8 commented on #472
Agreed; I'm going to work with the robot more this week, so hopefully I can figure out what is going on. The fix I mentioned might at least get the robot moving in case there are other parameterization/joint velocity limit issues that are MoveIt/URDF related.

[2022-03-14 23:18] adamlouis commented on #472
Thank you @gavanderhoorn  & @marip8 for you quick replies and suggestions!

Here's what I've done & observed:

--------------------

### 1. MoveIt duration params

I did this by adding these 2 lines to my MoveIt launch file:

[code]

When I do this, I do not get a timeout error, but the robot does not move.

### 2. use `motoman_gp4_support` launch files

done

done

### 4. MoveIt config changes

F

[2022-03-15 08:05] gavanderhoorn commented on #472
I'm starting to suspect your YRC1000 is somehow not configured correctly.

Could you do one more test with the action client script, and make a wireshark trace of the network traffic between the YRC1000 and your ROS PC at the same time? Then please attach it here (make sure to compress it).

Additionally:

 1. could you tell us *which* INFORM job you've installed from [here](https://github.com/ros

[2022-03-15 08:19] gavanderhoorn commented on #473
There's already #475, let's not duplicate that in an issue here.

[2022-03-15 08:19] #473 closed

[2022-03-15 19:09] ted-miller commented on #472
Please also send that CMOS to the Partner Support team in the separate other email chain. They can check to ensure there isn't anything configured that would prevent robot motion.

[2022-03-15 19:10] gavanderhoorn commented on #472
There is a parallel support effort, next to this thread?

@adamlouis: could you please let us know when that has reached a conclusion?

I'll close this one for now, as I don't like potentially duplicating effort.

[2022-03-15 19:33] ted-miller commented on #472
@gavanderhoorn: I asked him to open this issue because I didn't see anything wrong with the description of his procedure. It appears that the robot-side is working ok. I figured there was something wrong in the support package that I'm not aware of.

I just wanted to have our support group check to make sure there isn't some safety-circuit configured improperly or something.

[2022-03-15 21:45] adamlouis commented on #472
Thanks all! I will work on this later today.

---------

I will do this after I send the zip to Yaskawa/Motoman partner support & hear back

Will do later today

As Ted mentioned - I emailed our contacts at Yaskawa. Over that email, I was asked to open the GitHub issue here. Later, I was asked for the same .zip you requested. I will send my zip to partner support & come back here if needed (or to

[2022-03-16 13:09] gavanderhoorn commented on #472
@ted-miller wrote:

This all makes complete sense, but please ask people to mention that in the initial post.

Especially when things like the CMOS settings haven't been checked yet, as that is almost impossible to diagnose from "the ROS side". Knowing that's being looked at would change the approach to diagnose what's going on.

@adamlouis wrote:

I would suggest to still create the wireshark tra

[2022-03-16 13:10] gavanderhoorn commented on #472
@adamlouis: let us know whether you'll still create the Wireshark trace and we'll re-open.

[2022-03-16 15:52] akashjinandra commented on #445
Hello @gavanderhoorn  sorry for the delay here is the rosbag with all the joint trajectory topics and a wireshark log
[failure.zip](https://github.com/ros-industrial/motoman/files/8264914/failure.zip)
.

[2022-03-16 17:55] ted-miller commented on #472
The support guys found that the Inform job was incorrect. (Sorry, I should have caught that.)

![image](https://user-images.githubusercontent.com/4623811/158655506-9a019576-f22e-473d-8eec-24aa78b90485.png)

For anyone experiencing similar issue in the future, please use the standard INIT_ROS jobs [posted to GitHub](https://github.com/ros-industrial/motoman/tree/kinetic-devel/motoman_driver/Inform)

[2022-03-16 19:01] gavanderhoorn commented on #472
How did that happen?

Was the job not the one we host here?

[2022-03-16 21:26] adamlouis commented on #472
There were 2 issues. The first is resolved. For the second, I have a work around (or perhaps this is how it must be done).

### 1. error in `INIT_ROS` code

We purchased our GP4 / YRC1000 / SMart Pendant with ROS pre-configured. There was already a `INIT_ROS` job present when we received it.

When I sent the back up .zip file of our YRC1000 to the Motoman partner support team, they noticed the err

[2022-03-16 23:16] adamlouis commented on #472
I realized point 2 in my post above is true when starting other custom pendant jobs with the ethernet interface, not just when starting `INIT_ROS` with ROS. I had not observed this behavior when starting custom jobs over ethernet earlier.

It seems I must first go to PLAY mode before starting jobs in REMOTE mode.

In either case, I think I am unblocked & can figure this out.

Thanks all again for

[2022-03-17 07:43] gavanderhoorn commented on #472
You should be able to start everything in `REMOTE` mode.

Something does not seem to be right still.

[2022-03-17 14:18] ted-miller commented on #472
This sounds like the error came from our manufacturing area. I'll look into it.

This is not normal. Could you please use Wireshark to record the network traffic when you attempt `robot_enable` while in remote mode?

[2022-03-17 16:23] gavanderhoorn commented on #445
I've taken a look, and it seems to be the same issue as earlier. MotoROS seems to be doing what it's supposed to do (ie: refuse to execute motions which don't start at the current state). It's the ROS side which doesn't seem to be doing things correctly.

In the `.bag` you included, MoveIt also complains about it (at least once):

[code]

this is in essence a similar check to what MotoROS does, bu

[2022-03-17 16:27] gavanderhoorn commented on #445
`rosbag info` also shows this:

[code]

The total number of messages on `/joint_states` should be equal to the sum of the messages published on the `/gp200r/*/joint_states` topics (1 msg per group, per update cycle).

[2022-03-17 18:09] adamlouis commented on #472
Thanks for the feedback!

I will try to post the wireshark output by EOD tomorrow.

Likewise, I will let you know if we figure out a more minimal set of steps reproduce the behavior.

[2022-03-21 17:19] gavanderhoorn commented on #450
And another ping.

[2022-03-21 19:37] gavanderhoorn commented on #445
@akashjinandra: could you please check https://github.com/ros-industrial/motoman/compare/kinetic-devel...gavanderhoorn:coalesced_joint_feedback_ex_relay and see whether it resolves your issue?

I've changed two things:

 1. increased the queue sizes of all `JointState` and related publishers. They were set to 1, which in an ideal system would be a good setting, as we avoid consumers seeing "old" m

[2022-03-21 20:28] gavanderhoorn commented on #472
Friendly ping @adamlouis

[2022-03-21 22:36] akashjinandra commented on #445
Hello @gavanderhoorn, thanks for your response, we will try this new code this coming Wednesday.

[2022-03-21 23:27] adamlouis commented on #472
@gavanderhoorn & @ted-miller  - I've attached a zip of my wireshark traffic here. There was a fair amount of data constantly passing between my compute & the yrc1000, but the capture represents a 5-10s window during which I ran `rosservice call /robot_enable "{}"`. The YRC is `192.168.1.31` and my computer is `192.168.1.32`.  Let me know if this is what you were looking for.

I can confirm that my

[2022-03-22 06:26] jmarsik commented on #450
I would be also interested in this info, could you elaborate @rsrisamang-miso?
See also my comment https://github.com/ros-industrial/motoman/pull/259#issuecomment-1074784596

[2022-03-22 07:40] gavanderhoorn commented on #472
Seems like MotoROS considers starting `INIT_ROS` a success:

[code]

does imply there is something not entirely correct on the YRC1000 side.

Could have been informative if you'd included the traffic when you're attempting to execute a trajectory, but I'm sort-of expecting to just see acceptance of traj pts until the buffer is full and then nothing.

[2022-03-22 12:27] EricMarcil commented on #472
@adamlouis Can you check that this installation step was done properly:

[2022-03-22 12:32] EricMarcil commented on #472
@adamlouis Also check the Operate Enable Settings:

[2022-03-22 13:27] ted-miller commented on #472
@adamlouis
The wireshark indicates that the robot does briefly become "ready", but then becomes "not ready" 124 ms after the robot_enable service is called. I think there is still something wrong with the robot job.

Could you please save out a fresh copy of the following files and attach them here. Be sure to zip them; they compress extremely well.

INIT_ROS.JBI
PANELBOX.LOG
ALL.PRM
CMOS.BIN

[2022-03-22 17:50] #375 closed

[2022-03-22 22:46] adamlouis commented on #472
done!

---

@EricMarcil -- I referenced this in my initial post & the private email thread, but I am using a smart pendant and not a standard pendant. I have not found `PSUEDO INPUT SIG`, `CMD REMOTE SEL`, `INTERLOCK`, or `SETUP` on the smart pendant and have not seen a value of 87015 (or values w/ this order of magnitude) on any IO screen.

Do you have documentation to accomplish this with the sm

[2022-03-23 06:22] gavanderhoorn commented on #202
We won't release into Kinetic -- as that's not possible any more -- but Melodic and Noetic will see a release.

Not tomorrow though.

[2022-03-23 06:22] #202 closed

[2022-03-23 11:05] gavanderhoorn commented on #472
It's (almost certainly) not the cause of the problem, but I notice you're running MotoROS `v1.9.0`.

That's rather old, as the current version would be `v1.9.10`.

You might want to upgrade. The binaries can be found [here](https://github.com/ros-industrial/motoman/tree/19e629f4a7cfdcd0afc4637e9f115ae0612efa21/motoman_driver/MotoPlus/output/YRC1000u/MotoRosYRC1u_) for the YRC1000u.

[2022-03-23 14:33] ted-miller commented on #472
This step is not required for the Smart Pendant. The signal must already be enabled for the SP to work. I have updated the installation instructions to hopefully make this clearer.

They are two clients of the same controller core.

Yes. I have found the problem. The job is set to "step" mode where it only executes one step at a time. (I didn't know this was a thing, nor can I explain why it behav

[2022-03-23 17:39] akashjinandra opened #481 "Trigger yaskawa movement jobs through ROS driver"
Hello we have a YRC1000 controller using the latest MotoRos 1.91. Running Ubuntu 18.04 on Melodic.  We are wondering if you trigger a job that's on the pendant from ROS. This could be from an IO or even a register.

For instance we have a ROS/moveit trajectory we want to execute for moving around an obstacle and it ends at the home position. Could we then trigger a job on the pendant that could go

[2022-03-23 18:51] gavanderhoorn commented on #445
@akashjinandra: could you perhaps test the combination of https://github.com/ros-industrial/motoman/compare/kinetic-devel...gavanderhoorn:coalesced_joint_feedback_ex_relay and https://github.com/ros-industrial/motoman/compare/kinetic-devel...gavanderhoorn:rebased_two_arms_on_a_rail?

That would be instead of #259 in your case.

NOTE: this is not a complete solution. There are additional issues to

[2022-03-23 18:51] gavanderhoorn commented on #445
@akashjinandra: could you perhaps test the combination of https://github.com/ros-industrial/motoman/compare/kinetic-devel...gavanderhoorn:coalesced_joint_feedback_ex_relay and https://github.com/ros-industrial/motoman/compare/kinetic-devel...gavanderhoorn:rebased_two_arms_on_a_rail?

That would be instead of #259 in your case.

[2022-03-23 19:39] akashjinandra commented on #445
Hello @gavanderhoorn we will try this today. Thanks for that!

[2022-03-23 19:55] gavanderhoorn commented on #450
You may be interested in the combination of https://github.com/ros-industrial/motoman/compare/kinetic-devel...gavanderhoorn:coalesced_joint_feedback_ex_relay and https://github.com/ros-industrial/motoman/compare/kinetic-devel...gavanderhoorn:rebased_two_arms_on_a_rail as well @dean4ta @nardavin @rsrisamang-miso

NOTE: this is not a complete solution. There are additional issues to address. I just

[2022-03-23 22:26] nardavin commented on #450
Hi all, sorry for leaving everyone hanging on this. Our changes have been in a constant state of "mostly working" for the last couple weeks, but we believe that our version of the motoman driver is now stable and correctly supports multigroup motion, at least for our hardware configuration. I'll make a PR in the next couple days once we have final approval on our end.

[2022-03-24 08:08] gavanderhoorn commented on #450
A pointer to a branch should be enough.

[2022-03-24 14:48] ted-miller commented on #472
@adamlouis: I just learned some new information about this issue. The instructions above are not sufficient long-term. It will automatically switch back to `STEP` mode when you toggle the key switch.

Touch `MENU` > `System Settings` > `Classic Interface`. Start the Classic Interface and press the `Connect` button.
![image](https://user-images.githubusercontent.com/4623811/159942087-c2a1cf16-e46f-

[2022-03-24 17:47] gavanderhoorn commented on #445
@akashjinandra: did you have a chance to test?

[2022-03-27 14:09] #113 closed

[2022-03-29 08:41] gavanderhoorn commented on #472
@adamlouis: have you had a chance to figure this out? The last comment(s) by @ted-miller should help with the `STEP` mode problem.

[2022-03-29 08:41] gavanderhoorn commented on #445
Friendly ping @akashjinandra

[2022-03-29 08:42] gavanderhoorn commented on #450
Friendly ping @nardavin

[2022-03-29 13:01] akashjinandra commented on #445
Hello @gavanderhoorn when we merged and ran the system the joint trajectory action server crashed, we are in the process of debugging it.

[2022-03-29 13:13] gavanderhoorn commented on #445
Could you tell me what you merged exactly?

Just to reiterate: #259 is not involved at all any more. Creating a new branch (from `kinetic-devel`) and merging the two branches I mentioned in https://github.com/ros-industrial/motoman/issues/445#issuecomment-1076701976 into that should work.

(or at least: if I follow 'normal' usage patterns with `motoman_driver`)

If it doesn't, something is not rig

[2022-03-29 16:42] akashjinandra opened #486 "Robot not enabled not causing joint_trajectory_action to fail"
https://github.com/ros-industrial/motoman/blob/4c5e6afcaa53174b48ce39852768dfbe137f227d/motoman_driver/src/joint_trajectory_streamer.cpp#L428

Hello I'm wondering if anybody else see's this. I'm running Ubuntu 18 with ROS melodic. But if you are sending a trajectory and the robot is not enabled. I.E you didn't call the robot_enable service. It doesn't seem like the joint trajectory action actually

[2022-03-29 16:55] gavanderhoorn commented on #486
It's a bit of a work-around (from the action client / MoveIt perspective), but `RobotStatus.motion_possible` will not be `true` unless you've called `robot_enable` first.

To make the action server deal with this a bit more intelligently, we'd have to see whether ros-industrial/industrial_core#271 already solves this (as `motoman_driver` depends on it), or whether we need to port that PR over to t

[2022-03-29 16:56] gavanderhoorn commented on #445
Does #487 mean you've got things to work (ie: not crash)?

[2022-03-29 17:24] akashjinandra commented on #445
Not yet, I'm going to get it tonight, should be within the hour.

[2022-03-29 17:48] nardavin commented on #450
https://github.com/ros-industrial/motoman/pull/488

[2022-03-29 18:00] akashjinandra commented on #445
This is our branch: https://github.com/BastianSolutionsRandD/motoman/tree/test_fixes_for_vanderlande

Here is the trace:
[code]

[2022-03-29 18:03] gavanderhoorn commented on #445
I'm not sure what to make of the commit history.

There appears to be a huge single commit, touching 660 files.

I can't tell whether that branch contains the changes I pointed to, or what other changes it contains.

[2022-03-29 19:02] akashjinandra commented on #445
That's because we are on a branch of a branch, but I will post one with my personal github tomorrow to confirm it's just the changes you recommended, is there anything else you want to see from the terminal when I run my test tommorow?

[2022-03-29 19:26] gavanderhoorn commented on #445
?

That would/should not change the commit history to only show a single commit.

if things keep crashing, make sure to build `motoman_driver` with `-DCMAKE_BUILD_TYPE=Debug` (after having cleaned your workspace) and run `motoman_driver_joint_trajectory_action` in `gdb`. After it `SEGFAULT`s, ask `gdb` to print the backtrace. Then copy-paste that here. Without the backtrace, it's impossible to say

[2022-03-30 13:04] gavanderhoorn commented on #445
@akashjinandra: I've been able to reproduce the crash. I don't believe I would need you to test anything right now.

Having some representative `JointTrajectory`s would be helpful though.

---

Edit: could you confirm you see the crash when you're trying to execute a trajectory for a (MoveIt) group which doesn't include all joints (ie: only the robot's joints, or the robot's + one of the gripper j

[2022-03-30 13:37] gavanderhoorn commented on #445
@akashjinandra: please ignore my [previous request](https://github.com/ros-industrial/motoman/issues/445#issuecomment-1076701976), and please test <del>https://github.com/ros-industrial/motoman/compare/kinetic-devel...gavanderhoorn:coalesced_joint_feedback_ex_relay merged into #259.</del> https://github.com/ros-industrial/motoman/compare/kinetic-devel...gavanderhoorn:pr259_rebased_with_coalesced_f

[2022-03-30 13:41] Ivan-AITIIP opened #490 "[ MotomanGP50 + YRC1000 ] [ MoveIt ] ERROR: Parameter [/controller_list] is not set // Returned 0 controllers in list"
Hi!
I am having a configuration problem with a Motoman G50 robot while configuring the conexion with ROS through MoveIt.

# Summary

- I can read the robot state & view it in Rviz
- MoveIt commands from Rviz yield error:
- Unable to identify any set of controllers that can actuate the specified joints, ABORTED: Solution found but controller failed during execution.
- I already called rosservice ca

[2022-03-30 14:31] gavanderhoorn commented on #490
From the console output you show it would appear your MoveIt configuration is not complete. That's why MoveIt is complaining.

The "controllers" mentioned in the MoveIt error message refers to a MoveIt "controller", not `motoman_driver` nor anything related to your YRC1000.

`motoman_driver` seems to function correctly.

I don't have time to debug your MoveIt configuration right now, but I'd sugge

[2022-03-30 14:32] gavanderhoorn commented on #490
It would also help if you could copy-paste the output of `rostopic list` after you've started everything up (so after you `roslaunch motoman_gp50_moveit_config moveit_planning_execution.launch [...]`), and perhaps include a screenshot of what `rqt_graph` shows as well.

[2022-03-30 14:36] marip8 commented on #490
Looking through your launch files, I think this is a somewhat arcane launch file parameterization issue. In your `moveit_planning_execution.launch` file you launch the `move_group.launch` file with no argument for the `moveit_controller_manager`, so the `move_group.launch` provides a default value of `simple`, which causes `simple_moveit_controller_manager.launch.xml` to be launched from `trajecto

[2022-03-30 14:47] gavanderhoorn commented on #490
Nice find. I'd suggest option 2, as that's how this is supposed to be done AFAIK.

The way the MSA was changed to generate these files has not made it any less complex.

I believe the tutorial @Ivan-AITIIP followed ([this one](http://wiki.ros.org/Industrial/Tutorials/Create_a_MoveIt_Pkg_for_an_Industrial_Robot)?) is not up-to-date with the changes to the MSA.

@marip8: perhaps your second suggesti

[2022-03-30 15:49] marip8 commented on #490
To solve this particular issue, both 1 and 2 will need to be done (given the linked MoveIt config package). I thought the MSA auto-generates the `<your_robot_name>_moveit_controller_manager.launch.xml` file, so I'm surprised this one was missing the `.xml` extension (unless it was accidentally changed by @Ivan-AITIIP).

Going forward, I think we should update our tutorials (the one linked by @gava

[2022-03-31 07:04] Ivan-AITIIP commented on #490
Thank you so much!
The robot is moving now!

Writing this in `trajectory_execution.launch.xml`
[code]

and update the 'moveit_planning_execution.launch' as you tell everything works!

About the problem with the extension, yes, it was my bad. I accidentally did it.

[2022-03-31 07:13] gavanderhoorn commented on #490
Ok, good to hear you've got your MoveIt config sorted out.

[2022-03-31 07:13] #490 closed

[2022-04-03 13:35] gavanderhoorn commented on #472
Assuming this has been fixed, I'm going to close the issue.

Please let us know your current status @adamlouis.

[2022-04-03 13:35] #472 closed

[2022-04-03 13:35] gavanderhoorn commented on #445
Friendly ping @akashjinandra.

[2022-04-04 09:18] akashjinandra commented on #445
Hello @gavanderhoorn we tested this driver:  https://github.com/ros-industrial/motoman/pull/488 and it seems to be working but are doing a couple more tests today to say for sure. I will also try out the one that you have created for us.

[2022-04-04 09:23] gavanderhoorn commented on #445
The changes proposed in #488 are similar to the ones in #259, with some additions. It's also incomplete, just as #259 is/was.

If it works for you, it works of course.

The branch I created only tries to address the problem of out-of-date `JointState` messages. It's not a fix for all the known problems.

I would still like to know whether the changes to the multi-group publishers help avoid the ou

[2022-04-04 18:03] akashjinandra commented on #445
Hey @gavanderhoorn I'm trying to look at the joint state topics it seems like there aren't any separate ones for each joint group they are all in one message now, how would you like me to verify that this problem is fixed?

[2022-04-04 18:34] gavanderhoorn commented on #445
There should still be separate topics. That hasn't changed.

What did change is that the global topic (ie: `/joint_states`) now carries `JointState` messages which are the coalesced version of the messages on the individual topics.

Could you show me a `rostopic list | grep joint_states` and a `rostopic echo -n1 /joint_states` (provided `/joint_states` is the topic published to by `motoman_driver`

[2022-04-05 20:48] ted-miller opened #492 "Energy saving mode (servo sleep)"
Energy-savings mode can activate in the time between `robot_enable` and a trajectory is sent. If this occurs, the trajectory will not be rejected. It will also not work.

To disable energy-saving mode, I have to disable and then re-enable servo power. The act of disabling servos stops the robot job. Really, we need a new robot_enable call to reset everything.

So, a couple options:
1) Is it wise t

[2022-04-08 12:31] gavanderhoorn commented on #445
Friendly ping @akashjinandra.

If you can't find an opportunity to test this any more, also ok, but please let me know.

[2022-04-14 11:16] gavanderhoorn commented on #445
I'm going to assume you got the immediate issue fixed and don't/can't spend time testing https://github.com/ros-industrial/motoman/compare/kinetic-devel...gavanderhoorn:pr259_rebased_with_coalesced_feedback any more.

Closing.

[2022-04-14 11:16] #445 closed

[2022-04-20 14:10] adhitir opened #494 "Setting workspace bounds"
What is the best way to set hard workspace limits on the motoman hc10dt?
The inverse kinematics solutions sometimes lead to configurations that take move the joints of the robot and make it collide with the floor. Obviously, I wish to avoid this as its really hard to move the robot out of a collided pose. How can I set hard workspace bounds for the robot, not for the end-effector in task space but

[2022-04-20 14:21] EricMarcil commented on #494
You can setup spatial limits with the Functional Safety Unit (FSU).
Please refer to the related manuals:
https://www.motoman.com/getmedia/53EE5B5C-74C0-44BC-B8C9-96A751B7ED41/178949-1CD.pdf.aspx?ext=.pdf

[2022-04-20 15:25] kumar10725 commented on #416
@EricMarcil After half a year of discussion with our local representative. They have denied any knowledge of such parameters. I have sent you an email from my work email. We are willing to sign a NDA if necessary.

[2022-04-20 15:32] EricMarcil commented on #416
Please send me your information and the local Yaskawa representative that you have contacted at:
eric.marcil@motoman.com
I will see what I can do to help.

[2022-04-20 16:13] kumar10725 commented on #416
@EricMarcil  I have sent you an email with the requested details. Thank you very much for your help.

[2022-04-21 13:15] EricMarcil commented on #416
I've contacted the local Yaskawa representative and they will proceed with establishing the NDA.  Once that is done, I will be able to send the information.

For people that may run into similar situation in the future, some local Yaskawa representative might not be aware of ROS and how to get Kinematic information.  Please direct them to me at:  eric.marcil@motoman.com
I'll be able to explain tha

[2022-04-22 18:00] nexus1203 commented on #174
Can someone shed some light on "high-speed register method"? Is it a built-in standard function on DX200 controllers like "high-speed Ethernet server"? Or something else. I am trying to acquire torque data on MH12 robot on DX200. So far I have tried "high speed Ethernet server" but data rate is limited to 20ms per request and response cycle. I haven't been able to achieve torque read through ROS e

[2022-04-22 18:58] ted-miller commented on #174
@nexus1203, The "register method" is a feature of the robot controller. When enabled, the robot controller will automatically populate M-Registers with the percentage of max torque. (Not an absolute Nm.) You would then need to move this data out of the robot using High Speed Ethernet Server, or MotoPlus, or a fieldbus connection like Ethernet/IP.

If you are using ROS, then there is a function in

[2022-04-23 02:31] nexus1203 commented on #174
@ted-miller Thank you very much for your explanation.
May you please point me to a documentation for this method? I went through the manuals of "high speed Ethernet server" and "Ethernet IP server" functions but I can't seem to find a reference to how to enable this function. I do know I can read M variables using these variables but I am trying to figure out how to actually move data to M variabl

[2022-04-25 13:09] ted-miller commented on #174
I don't believe that any formal documentation exists for this feature. I think it is technically not an "officially supported" feature. But, I did just verify that it works on my YRC1000.

S1CxG122: Enable/Disable. Each bit corresponds with an axis.

    - Ex: Bit 0 = [Enable S Axis], Bit 1 = [Enable L Axis], etc...

DX200: S1CxG488 ~ 495: Register number for each axis' value
YRC1000: S1CxG910 ~ 9

[2022-04-27 07:46] benoit0192 commented on #291
Hi all and thank you for your good work.
I am not sure if this is the good place or if this issue already came up in the past so please let me know.
I am encountering an issue regarding the Software pendant interface with respect to the screenshots from the documentation.

Specifically, I would like to install MotoROS using the binary files but as you can see with the attached file below, when it

[2022-04-27 11:10] gavanderhoorn commented on #291
Good to hear you figured it out.

@EricMarcil / @ted-miller: would this be something to add to the tutorial?

[2022-04-27 13:03] ted-miller commented on #291
@benoit0192 :

You can toggle the display language by clicking [SHIFT] then [AREA] on the virtual keypad.
![image](https://user-images.githubusercontent.com/4623811/165523966-c524eca8-a676-4fa8-9957-0bfa6af4a59a.png)

@gavanderhoorn:

This is covered in [section 2.4.2](http://wiki.ros.org/motoman_driver/Tutorials/indigo/InstallServer#FS100.2C_DX200.2C_and_YRC). I suspect it was simply overlooked.

[2022-04-28 00:57] benoit0192 commented on #291
@ted-miller

Yes I read this on other issues and tried it out but nothing changes so I thought there was no english support on the version I am using.

Yes indeed it was clearly mentioned. I simply overlooked.

[2022-05-02 11:58] simonschmeisser opened #496 "MPP3H delta kinematics support"
Would it be possible to extend/modify this driver to support the MPP3H or similar delta kinematics? I assume control would be directly in cartesian space then?

Do you have that lying around as well @gavanderhoorn ? :wink:

[2022-05-02 12:36] gavanderhoorn commented on #496
https://github.com/ros-industrial/motoman_experimental/pull/20

I can't say anything as-to the state of it, so if you can test it and can verify the functionality we may be able to actually get it merged.

[2022-05-05 02:35] nexus1203 commented on #174
@ted-miller  After trying for over a week and so. I am still not able to read M-registers on DX200. I am using high-speed ethernet function and generally M register should be available at 0x79 (Register data reading / writing command). However when reading these registers, the value is always  returned as 0. In your previous comment you mentioned:

Is it function need to be enabled manually? On th

[2022-05-05 11:42] cjue opened #498 "DX200: MotoRos not started (5008) and "Subtask: Neustart nicht möglich" (restart not possible)"
We installed and configured MotoRos 1.9.10 according to the current installation tutorial (including `Cycle Switch in Cycle mode`) on a DX200 controller connected to a MH100 manipulator.

Unfortunately MotoRos does not work as expected, we get the expected joint states but /robot_enable does not work:

[code]

On the Standard Pendant the following message popped up after every enable attempt:
[cod

[2022-05-05 12:54] EricMarcil commented on #498
@cjue You can refer to the trouble shooting section.
[http://wiki.ros.org/motoman_driver/Troubleshooting#A.285008.29_MotoRos_not_started](http://wiki.ros.org/motoman_driver/Troubleshooting#A.285008.29_MotoRos_not_startedl)
Most probably is that you can't playback a job manually either putting the pendant switch to PLAY mode, pressing "Servo On Ready" and then the green start button.  You'll get a

[2022-05-05 14:52] ted-miller commented on #174
Yes, this function needs to enabled manually, using the robot parameters listed above.
- Put the pendant into TEACH mode
- Upgrade to MANAGEMENT security level on the teach pendant.
  - Touch `System Info` > `Security`.
  - Press SELECT button to open the drop-down. Choose MANAGEMENT and press SELECT.
  - The default password is `99999999`. Press ENTER.
- From the main menu, touch `Parameter` > `S

[2022-05-05 16:09] nexus1203 commented on #174
@ted-miller Thank you very much for the setup tutorial. I will test this the first this tomorrow.

I will contact my local dealer to get quotations on these. Again, thank you for your guidance.

[2022-05-05 16:15] gavanderhoorn commented on #174
@nexus1203 (and @ted-miller also ;) ): could you please start a new discussion if, after testing, it still doesn't work for you?

Your questions are off-topic for this issue.

We should try to keep issues on-topic, and using HSES to access M-registers is rather different from what was being discussed in this issue originally.

[2022-05-12 11:21] larslevity commented on #498
Thanks for the answer!
We followed your tips, but unfortunately the problem persists.

No matter which job we select and then switch to play mode, we don't get any error message. The play mode does not become active either.

We have executed the approach of a second home position. There was no deviation here.

We also tried to solve the problem by deleting all existing jobs on the controller, but

[2022-05-12 12:27] EricMarcil commented on #498
If you can't start a job in PLAY mode by turning on the SERVO and then pressing the START button, then the problem is not related to ROS.  There should be a message when you press the button and nothing happens.  Try pressing the message area to expand it, there might be more messages.  I would suggest contacting your local Yaskawa/Motoman tech support to resolve the playback issue.

[2022-05-12 19:21] EricMarcil commented on #492
@ted-miller
#2 seems to be the minimum thing to do.
In theory, I don't see a problem with #1 but if you ask Bill, he will probably find some safety concern about it.

[2022-05-12 19:27] gavanderhoorn commented on #492
If the robot was already enabled at that point, and has just disabled servo power but otherwise is still running the necessary job, there shouldn't be a problem with re-enabling the servos automatically I believe.

Wouldn't that be what would happen if an INFORM job would have a large dwell time somewhere or idle section in it?

[2022-05-12 20:38] ted-miller commented on #492
My plan is to do a hybrid. Upon receiving a trajectory, check for energy-saving mode. If that is the only thing preventing `IsMotionReady`, then do an automatic `robot_enable`.

Once I get that implemented on the _other_ (insert mysterious music here) interface, I'll backport to here.

[2022-05-19 08:48] gavanderhoorn commented on #431
Done in [diff&rev2=18&rev1=17](http://wiki.ros.org/action/info/motoman_driver/Tutorials/Usage?action=diff&rev2=18&rev1=17).

[2022-05-19 08:48] #431 closed

[2022-05-23 10:17] gavanderhoorn commented on #492
Marked this as a bug, as it's definitely unexpected behaviour, even if energy saving mode is essentially a well-known-function of the Motoman controller -- and is simply doing its job.

[2022-05-24 12:22] cjue commented on #498
Thank you for your feedback, it appears to be a controller misconfiguration issue as no jobs can be run in PLAY mode.

I'll close this for now as as we wait for the local Yaskawa tech support.

[2022-05-24 12:22] #498 closed

[2022-06-03 14:53] simonschmeisser commented on #326
We just had the same issue and I feel dump for not reading this here ...

[2022-06-04 09:05] simonschmeisser opened #501 "Trajectory rejected on first use or after powersafe"
We get a failing trajectory start position check after the robot was idle for some time. In this case we also observe that the actual and desired pulse/joint position do not match. In one case I was seeing a joint difference as big as 2.2e-3 on the wrist joint (this is a small size, GP7 robot where we usually rather expect precision < 1e-4) between the display on the teach pendant and what is sent

[2022-06-04 09:13] simonschmeisser opened #502 "Trajectory stopped mid motion"
We sometimes observe trajectories being stopped (softly) in the middle of execution. We have not found any error messages or other reasons for this and have a hard time debugging. We then re-send a new and shortened trajectory containing the remaining way points and it succeeds.

We send trajectories that can be quite sparse (eg 90° motion) at times and dense when simulating a cartesian segment. C

[2022-06-09 14:17] cjue commented on #492
I missed that important caveat in my own `/robot_enable` loop, which resulted in implicit resetting minor alarms like **Collision Detect (4315)**.

I did not expect `/robot_enable` to have that effect of resetting errors and enabling motion when the robot status was `in_error`, so I just wanted to highlight that side-effect.

[2022-06-09 14:41] gavanderhoorn commented on #492
Thanks for posting your experience here @cjue.

`robot_enable` is essentially a wrapper around the Simple Message service `StartTrajMode`, which does everything *reasonable* to put the controller in the state where it's ready to accept new trajectory goals and execute them.

That includes attempting to reset anything which is not a serious alarm or error and can be remotely reset.

I can see how y

[2022-06-09 16:27] cjue commented on #492
Mentioning this reset of alarms in the usage tutorial introducing `robot_enable` would already be a fix in my eye:
http://wiki.ros.org/motoman_driver/Tutorials/Usage

This automatic error reset made it more difficult to discover the root cause of some unexpected stops, as we did not immediately check the alarm history, which is not visible at the normal security level.

My `robot_enable` loop was

[2022-06-21 12:51] rr-tom-noble opened #509 "Using motoman in fake simulation?"
Hi,

I'm using motoman to stream points to a robot and want to do the same in a fake simulation so I can test code quicker in an environment as close to the real thing as possible. I've tried using localhost as the robot IP, hoping that it'd play nicely with the fake controllers we have set up via MoveIt, however, I get the same error from every motoman node:

[code]

I believe the hardware contro

[2022-07-07 15:04] AndyZe opened #511 "How to simulate Motoman hardware driver in ROS?"
I'm asking from the perspective of a developer who wants to work on Motoman drivers but doesn't have much access to physical robots. Is there any way to test the Motoman driver in simulation, like ABB's Robot Studio?

[2022-07-11 09:54] daenny opened #513 "Yaskawa GP70L support?"
Hi,

Yaskawa has announced the GP70L. Is there anything planned to support that robot?

Kind regards,

Daniel

[2022-07-11 10:04] gavanderhoorn commented on #513
There would be nothing to change on the driver side.

Only thing needed would be a robot support package.

Perhaps @EricMarcil can comment on that.

[2022-08-05 01:04] chungshan opened #516 "Increase publish rate of /joint_states"
Hi, is it possible to increase publish rate of `/joint_states` ?
Currently, it publishes at ~37Hz
[code]

[2022-08-11 22:51] marip8 commented on #216
I'm running into a similar issue on the [current kinetic-devel branch](https://github.com/ros-industrial/motoman/tree/7860ff545106d98ed6a3fa0121f2fb60891f69bd) of this repository. I have a robot+rail system (i.e. 2 motion groups) with a DX100. When I call the joint trajectory action with a trajectory that includes all 7 DoF, the robot and rail will move (and appear to complete the trajectory) but

[2022-08-12 05:09] gavanderhoorn commented on #216
For your particular system there is #179.

There are a couple of open PRs trying to address it in a more generic fashion: #259, #488 and https://github.com/ros-industrial/motoman/compare/kinetic-devel...jmarsik:motoman:kmr-multigroup.

[2022-08-12 14:45] marip8 commented on #216
I was previously using a modified version of #179, but had updated to the kinetic-devel branch to utilize the `motoman_es_support` package and found that the driver seemed to work as expected after some minimal testing. When I tried to rebase #179 on the latest changes there were conflicts, so I wasn't sure if this problem had been fully resolved. Thanks for the links

[2022-08-29 12:53] ted-miller opened #519 "Missing `else` condition"
A user has found a missing `else` condition. This leads to an improper response to an unknown message type.

https://github.com/ros-industrial/motoman/blob/7860ff545106d98ed6a3fa0121f2fb60891f69bd/motoman_driver/MotoPlus/SimpleMessage.c#L153

[2022-08-29 13:39] ted-miller commented on #421
Looking at this more, I'm not sure there's any good way to protect against this. There is currently no indicator of whether a trajectory is "active". It's perfectly valid to wait 20 minutes between trajectory-points and not have the robot move during that time.

Since there have been no reported issues with this scenario, I'm going to close this.

[2022-08-29 13:39] #421 closed

[2022-08-30 09:37] gavanderhoorn commented on #519
Isn't the actual consequence the `else` will always be taken if `receiveMsg->header.msgType != ROS_MSG_MOTO_SELECT_TOOL`?

So https://github.com/ros-industrial/motoman/blob/7860ff545106d98ed6a3fa0121f2fb60891f69bd/motoman_driver/MotoPlus/SimpleMessage.c#L160-L162

will always be executed?

[2022-08-30 12:12] EricMarcil commented on #519
Without the "else" on line 153, all the preceeding code (line 138 to 152) is pointless because whatever is set in that code gets overwritten by line 161 and 162.

[2022-08-30 12:15] gavanderhoorn commented on #519
Yes. That is what I wrote.

But only if `msgType != ROS_MSG_MOTO_SELECT_TOOL`.

[2022-08-30 12:39] ted-miller commented on #519
Yes, you're correct. Now that I think about it some more... this might explain some wireshark captures that I've seen in the past that had unexpected sequence-id's in the reply. (I don't remember for certain. But I think I've seen this and just ignored it.)

[2022-10-20 12:24] shenqiang-Yuan opened #522 "mpExRcsIncrementMove concerns"
i wonder to know when a increment value has been excuted completely and how to control the servo speed when using mpExRcsIncrementMove API. Because i have modified the motoman_driver to execute offline dense trajectory points other than online interplotaion by cubic polynomials algrithm. But I don't understand the mechanism of increment move. Can anyone help? Thanks a lot.

[2022-10-28 18:16] ted-miller opened #524 "Tight loop causing delays in processing"
This loop has no sleep commands
https://github.com/ros-industrial/motoman/blob/7860ff545106d98ed6a3fa0121f2fb60891f69bd/motoman_driver/MotoPlus/MotionServer.c#L1434

A user has reported that with three groups, one (or more) of the tasks can get locked out for 0.4 - 3.0 seconds. (Using mpStopWatch inside `Ros_MotionServer_AddToIncQueueProcess`)

I have advised him to try doing a sleep every 10 or 2

[2022-11-01 17:28] ted-miller commented on #524
User reports that he added the sleeps in the loop and also increased the size of the internal increment queue. This appears to have resolved the issue.

[2022-11-14 16:47] leitoxve opened #525 "Alarm 8004 TASK #0 MOTOROS FAILED TO CREATE TASK [4]"
Hello everyone,
My setup is a yaskawa HC20 with  yrc1000 Controller
I follow the instruction for (.out - .JBI -.DAT ) [Installing INFORM Code] installation like as:
http://wiki.ros.org/motoman_driver/Tutorials/indigo/InstallServer
and i launch the streaming interface
https://github.com/ros-industrial/motoman/blob/kinetic-devel/motoman_hc20_support/launch/robot_interface_streaming_hc20.launch
and i

[2022-11-14 18:22] ted-miller commented on #525
Hi @leitoxve.
The alarm 8004 [4] means that the system was unable to create the task which submits motion increments to the MotoPlus API.

That task runs at priority level `MP_PRI_IP_CLK_TAKE`. There can only be one task in the whole system which runs at this priority level. In your case, that priority is already being used by the `CommTest.out` application.
![image](https://user-images.githubuser

[2022-11-14 18:22] #525 closed

[2022-11-15 10:30] cjue commented on #324
@EricMarcil the AppendTrajectory changes look very promising for our current issues with very fast back-to-back trajectories.

Could you please rebase that branch to MotoROS 1.9.11? There have been some safety/error-handling commits in between and I'm wary of doing that rebase myself without lots of care and testing.

[2022-11-15 21:10] EricMarcil commented on #324
@cjue I'm working on a tight deadline for the end of Nov.  I probably won't have time to work on this until early December.

[2022-11-16 08:00] cjue commented on #324
We noticed another possible cause for mismatch between command and feedback position:
In one of our applications we do a handover of the gripped work-piece to another gripper. As soon as the second gripper closes it can exert some force on the robot, pulling it away from its resting position. In our case this deviation was sometimes large enough to fail the check for the next trajectory starting p